<span *ngIf="query">
<span *ngIf="query.target === null">COUNT(<small><fa-icon [icon]="['fas', 'asterisk']"></fa-icon></small>) </span>
<span *ngIf="query.target !== null">
    <form class="form-inline aggregate-form">
    <select class="form-control form-control-md"
        (change)="thisApproximatorChanged($event.target.value)"
        [ngModel]="query.approximator.name"
        name="approximator"
        >
        <option *ngFor="let approx of approximators" [value]="approx.name">
            {{ approx.name.toUpperCase() }}
        </option>
    </select>
    </form>(<field-badge [field]="query.target" class="mr-1"></field-badge>{{ query.target.name }})

    </span><span class="keyword">GROUPED BY</span>
    <ng-container *ngFor="let field of query.groupBy.fields; index as i">
        <field-badge [field]="field" class="ml-2 mr-1"></field-badge>{{ field.name }}<span *ngIf="query.groupBy.fields.length > 1 && i < query.groupBy.fields.length - 1" class="keyword">,</span>
    </ng-container>
</span>

