<strong>
    <field-grouped-value-indicator [showName]="true" [fieldGroupedValue]="data.datum.keys.list[0]"></field-grouped-value-indicator>
</strong> <br />
<strong>
    <field-grouped-value-indicator [showName]="true" [fieldGroupedValue]="data.datum.keys.list[1]"></field-grouped-value-indicator>
</strong> <br />

{{ data.datum.ci3.center | smartNumber }} ± {{ data.datum.ci3.stdev | smartNumber }} <br />
<hr class="m-0 mt-1" style="border-color:white; opacity:0.5" />
<small>{{ L.NumRows }} = {{ data.datum.accumulatedValue.count | number}}</small>
