<div class="wrapper border-bottom p-1">
    <span class="badge badge-primary">
        <div class="icon-wrapper">
            <value-icon *ngIf="sg.type === 'Value'" class="sg-icon"></value-icon>
            <range-icon *ngIf="sg.type === 'Range'" class="sg-icon"></range-icon>
            <comparative-icon *ngIf="sg.type === 'Comparative'" class="sg-icon"></comparative-icon>
            <rank-icon *ngIf="sg.type === 'Rank'" class="sg-icon"></rank-icon>
            <powerlaw-icon *ngIf="sg.type === 'PowerLaw'" class="sg-icon"></powerlaw-icon>
            <normal-icon *ngIf="sg.type === 'Normal'" class="sg-icon"></normal-icon>
            <linear-icon *ngIf="sg.type === 'Linear'" class="sg-icon"></linear-icon>
        </div>
        {{ L[sg.type] }}
    </span>
    <span class="badge badge-secondary ml-1">{{ sg.query.recentProgress.processedPercent() | percent}}</span>
    <span class="badge badge-warning ml-1"><fa-icon [icon]="['far', 'bell']"></fa-icon></span>
    <span class="badge badge-danger ml-1"><fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon></span>

    <div class="display my-1">
        <sg-display [safeguard]="sg"></sg-display>
    </div>

    <div class="d-flex">
        <p-indicator *ngIf="sg.isP()" [p]="sg.p()" class="flex-grow-1"></p-indicator>

        <boolean-indicator *ngIf="sg.isBoolean()" [t]="sg.t()" class="flex-grow-1"></boolean-indicator>

        <quality-indicator *ngIf="sg.isQuality()" [q]="sg.q()" class="flex-grow-1"></quality-indicator>

        <error-indicator *ngIf="sg.isError()" [e]="sg.e()" class="flex-grow-1"></error-indicator>

        <button type="button" class="btn btn-sm btn-secondary ml-1" (click)="toggleConfigPanel()"
            [class.open]="configPanelOpen">
            <fa-icon [icon]="['fas', 'cog']"></fa-icon>
        </button>
    </div>
    <!-- <div class="p-1 config-border rounded" *ngIf="configPanelOpen && !notiPanelOpen">
        <button type="button" class="btn btn-sm btn-warning mr-1" (click)="openNotiPanel()">
            <fa-icon [icon]="['far', 'bell']"></fa-icon>
            Manage notifications
        </button>
        <button type="button" class="btn btn-sm btn-danger" (click)="removeClicked.emit(sg)">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
            Remove
        </button>
    </div> -->
    <div class="p-1 config-border rounded config-panel" *ngIf="configPanelOpen">        
        <h5 class="m-1">Notification Rules</h5>
        <button class="btn btn-mini btn-primary new-rule" (click)="openRulePanel()">New Rule</button>
        <hr class="config-border my-1 sep">
        <p>
            No notification rules are added. Add one by clicking on the "New Rule" button below.
        </p>

        <div class="rule my-1 d-flex align-items-center">
            <span class="badge badge-warning align-self-center mr-1"><fa-icon [icon]="['far', 'bell']"></fa-icon></span>
            <div class="mr-auto" (click)="openActionPanel()">When the progress reaches to <strong>50%</strong></div>
            <button class="btn btn-sm ml-1"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
        </div>
        <div class="rule my-1 d-flex align-items-center">
            <span class="badge badge-warning align-self-center mr-1"><fa-icon [icon]="['far', 'bell']"></fa-icon></span>
            <div class="mr-auto" (click)="openActionPanel()">After <strong>50,000</strong> rows are processed</div>
            <button class="btn btn-sm"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
        </div>
        <div class="rule my-1 d-flex align-items-center">
            <span class="badge badge-warning align-self-center mr-1"><fa-icon [icon]="['far', 'bell']"></fa-icon></span>
            <div class="mr-auto" (click)="openActionPanel()">After <strong>4</strong> hours (3:00:00 remaining)</div>
            <button class="btn btn-sm"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
        </div>
        <div class="rule my-1 d-flex align-items-center">
            <span class="badge badge-warning align-self-center mr-1"><fa-icon [icon]="['far', 'bell']"></fa-icon></span>
            <div class="mr-auto" (click)="openActionPanel()">When <em>p</em> is greater than <strong>0.05</strong></div>
            <button class="btn btn-sm"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
        </div>
        <div class="rule my-1 d-flex align-items-center">
            <span class="badge badge-warning align-self-center mr-1"><fa-icon [icon]="['far', 'bell']"></fa-icon></span>
            <div class="mr-auto" (click)="openActionPanel()">When the progress reaches to <strong>70%</strong> and <em>p</em> is greater than <strong>0.01</strong></div>
            <button class="btn btn-sm"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
        </div>
        <div class="rule my-1 d-flex align-items-center">
            <span class="badge badge-warning align-self-center mr-1 expired"><fa-icon [icon]="['far', 'bell']"></fa-icon></span>
            <div class="mr-auto" (click)="openActionPanel()">When the progress reaches to <strong>10%</strong></div>
            <button class="btn btn-sm"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
        </div>

        <button type="button" class="btn btn-sm btn-danger w-100 mt-1" (click)="removeClicked.emit(sg)">
            Remove this PVA-Guard            
        </button>

        <div style="height:100px"></div>
        <button type="button" class="btn btn-sm w-100 mt-1" (click)="emulateNoti()">
            emulateNoti()
        </button>
    </div>
    <div class="p-1 config-border rounded" *ngIf="rulePanelOpen">
        <h5 class="m-1">Adding a New Rule</h5>
        <hr class="config-border my-1 sep">
        <div class="form-check">
            <input class="form-check-input font-control-lg" type="checkbox" [id]="id+1">
            <label class="form-check-label" [for]="id+1">
                The progress reaches to a point.
            </label>
            <div class="d-flex flex-row align-items-center" *ngIf="demo1">
                <input type="range" min="1" max="100" value="50" [id]="id+1" class="mr-2 w-100">
                <input type="number" class="form-control form-control-sm text-right" min="1" max="100" value="50" style="width:40px">
                <span class="ml-1">%</span>
            </div>            
        </div>
        <div class="form-check">
            <input class="form-check-input font-control-lg" type="checkbox" [id]="id+1">
            <label class="form-check-label" [for]="id+1">
                A certain number of rows are processed.
            </label>
            <div class="d-flex flex-row align-items-center" *ngIf="demo1">
                <input type="range" min="1" max="100" value="50" [id]="id+1" class="mr-2 w-100">
                <input type="number" class="form-control form-control-sm text-right" min="1" max="10000" value="5000" step="100" style="width:100px">
                <span class="ml-1">rows</span>
            </div>            
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" [id]="id+2">
            <label class="form-check-label" [for]="id+2">
                After a certain period of time
            </label>
            <div class="d-flex flex-row align-items-center" *ngIf="demo1">
                <input type="number" class="form-control form-control-sm  text-right" min="1" max="300" value="30" style="width:50px">
                <select class="form-control form-control-sm ml-1" style="width:100px">
                    <option selected>minutes</option>
                    <option>hours</option>
                </select>
            </div>
        </div>

        <div class="text-center condition-and my-2">- AND -</div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" [id]="id+2">
            <label class="form-check-label" [for]="id+2">
                <em>{{ sg.validityName() }}</em> becomes greater than a threshold.
            </label>
            <div class="d-flex flex-row align-items-center" *ngIf="demo1">
                <em>{{ sg.validityName() }}</em>
                <span class="ml-1">{{ sg.isP() || sg.isError() ? '>' : '<'}}</span>
                <input type="number" class="form-control form-control-sm ml-1" min="0" value="0.05">
            </div>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" [id]="id+2">
            <label class="form-check-label" [for]="id+2">
                <em>Error</em> increases by a specific amount.                
            </label>
            <div class="d-flex flex-row align-items-center" *ngIf="demo1">
                <input type="number" class="form-control form-control-sm text-right" min="1" max="100" value="30" style="width:40px">
                <span class="ml-1">%</span>
            </div>            
        </div>

        <div class="text-right mt-1">
            <button class="btn btn-sm btn-success mr-1">Add a Rule</button>
            <button class="btn btn-sm btn-danger" (click)="openConfigPanel()">Cancel</button>
        </div>
    </div>

    <div class="p-1 config-border rounded" *ngIf="actionPanelOpen">
        <h5 class="m-1">Notification</h5>
        <hr class="config-border my-1 sep">
        The following notification rule has been met (2020/05/25 18:30:00):
        <div class="p-2 text-center">
            <em>p</em> is greater than <strong>0.05</strong>.
        </div>

        <button class="btn btn-sm btn-outline-secondary mb-1 w-100 action">Leave the same PVA-Guard on <strong>Genre = Drama</strong></button>
        <button class="btn btn-sm btn-outline-secondary mb-1 w-100 action">Increase the constant by <strong>1,000</strong></button>
        <button class="btn btn-sm btn-outline-secondary mb-1 w-100 action">Increase the threshold to <strong>0.1</strong></button>
        <button class="btn btn-sm btn-outline-secondary mb-1 w-100 action">Check this again after 30 minutes</button>
        <button class="btn btn-sm btn-outline-secondary mb-1 w-100 action">Show this rule in the "New Rule" panel</button>
        <button class="btn btn-sm btn-outline-danger mb-1 w-100 action" (click)="openConfigPanel()">Dismiss</button>
    </div>
</div>
