<div class="wrapper border-bottom p-1">
    <span class="badge badge-primary">{{ sg.type }}</span>
    <span class="badge badge-secondary ml-1" *ngIf="sg.variable.isRank">Rank</span>
    <div class="display mb-1">
        <sg-display [safeguard]="sg"></sg-display>
    </div>

    <sg-history [sg]="sg"></sg-history>
    <div *ngIf="sg.type == SGT.Point">
        <p-indicator [p]="sg.p()"></p-indicator>
    </div>
    <!-- min or max-->
    <div *ngIf="sg.type == SGT.Range && !sg.variable.isRank">
        <p-indicator [p]="sg.p()"></p-indicator>
    </div>
    <div *ngIf="sg.type == SGT.Comparative && !sg.variable.isRank">
        <p-indicator [p]="sg.p()"></p-indicator>
    </div>
    <div *ngIf="sg.type == SGT.Distributive">
        <quality-indicator [q]="sg.q()"></quality-indicator>
    </div>

    Created {{ sg.createdAt | amTimeAgo }}

    <button type="button" class="close px-2 py-1" aria-label="Close"
        (click)="removeClicked.emit(sg)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
