@import '../../theme.scss';

.wrapper {
    font-size: .8rem;
    position: relative;
    cursor: pointer;
}

.remove {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: transparent;
    border: 0;
    font-size: .8rem;
    cursor: pointer;
}

.wrapper:hover {
    background: lighten($ui-background-color, 3%);

    .remove {
        display: block;
    }
}

.display {
    font-size: 1rem;
    //word-break: break-all;
}

.badge {
    font-weight: normal;
    font-size: .9rem;
}

.alarm-border {
    border: rgb(255, 193, 7) 1px solid;
}

.text-align-right {
    text-align: right;
}

.sep {border-bottom: none;}

.icon-wrapper {
    height: 0.85rem !important;
    display: inline-block;
    width: 16px;
}

::ng-deep {
    .sg-icon {
        transform: scale(0.8);
        display:inline-block;
    }
    .sg-icon svg{
        position: relative;
        margin-top: -5px;
        margin-left: -3px;
        line, path {
            stroke: white !important;
        }
        circle, text {
            fill: white !important;
        }
    }
}

@media screen and (max-width: 720px) {
    .remove {
        display: block;
    }
}
