@import '../../theme.scss';

.wrapper {
    font-size: .8rem;
    position: relative;
    cursor: pointer;
}

.remove {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: transparent;
    border: 0;
    font-size: .8rem;
    cursor: pointer;
}

.wrapper:hover {
    background: lighten($ui-background-color, 3%);

    .remove {
        display: block;
    }
}

.display {
    word-break: break-all;
}

.badge {
    font-weight: normal;
}


@media screen and (max-width: 720px) {
    .remove {
        display: block;
    }
}
