<div class="wrapper border-bottom p-1">
    <span class="badge badge-primary">{{ sg.type }}</span>
    <span class="badge badge-secondary ml-1" *ngIf="sg.variable.isRank">Rank</span>
    <div class="display mb-1">
        <sg-display [safeguard]="sg"></sg-display>
    </div>

    <sg-history *ngIf="sg.type != SGT.Point || sg.node.query.approximator.estimatable" [sg]="sg"></sg-history>

    <p-indicator *ngIf="sg.type == SGT.Point && sg.node.query.approximator.estimatable" [p]="sg.p()"></p-indicator>
    <truthiness-indicator *ngIf="sg.type == SGT.Point && !sg.node.query.approximator.estimatable" [t]="sg.t()"></truthiness-indicator>

    <p-indicator *ngIf="sg.type == SGT.Range && !sg.variable.isRank" [p]="sg.p()"></p-indicator>
    <p-indicator *ngIf="sg.type == SGT.Comparative && !sg.variable.isRank" [p]="sg.p()"></p-indicator>

    <quality-indicator *ngIf="sg.type == SGT.Distributive && sg.constant.name != 'linear_regression'" [q]="sg.q()"></quality-indicator>
    <error-indicator *ngIf="sg.type == SGT.Distributive && sg.constant.name == 'linear_regression'" [e]="sg.e()"></error-indicator>

    Created {{ sg.createdAt | amTimeAgo }}

    <button type="button" class="close px-2 py-1" aria-label="Close" (click)="removeClicked.emit(sg)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
