<div id="nodes" *ngIf="root"
    [style.height.px]="root.visual.childrenHeight">
    <exploration-node-view [view]="this" [node]="root" [editable]="editable"></exploration-node-view>
    <!-- <node [app]="app" [history]="history" [draggedField]="draggedField"></node> -->
</div>

<ng-container *ngIf="selectorVisible">
    <field-selector #fieldSelector
        [fields]="dataset.fields"
        [style.top.px]="selectorTop"
        [style.left.px]="selectorLeft"
        (fieldSelected)="fieldSelected.emit({field: $event, node: node})"
    ></field-selector>
</ng-container>

