<div class="node" [style.top.px]="node.visual.top"
    [style.left.px]="node.visual.left"
    [style.z-index]="1024-node.visual.depth*2"
    (click)="nodeSelected.emit({node: node, nodeView: this, left: node.visual.left, top: node.visual.top, child: false})"
    [class.hovered]="hoveredNode === node"
    [class.active]="activeNode === node"
    >

    <fa-icon [icon]="['fas', 'database']" *ngIf="node.isRoot()"></fa-icon>
    <progress-mini-ring [processed]="node.query.progress.processedPercent()"
        [ongoing]="node.query.progress.ongoingPercent()" *ngIf="!node.isRoot()"></progress-mini-ring>

    <!-- <span style="font-size:12px; position: relative; top:-40px">{{ node.query.name }}</span> -->
</div>

<div class="horizontal-link" *ngIf="node.hasChildren()"
    [style.top.px]="node.visual.verticalCenter()"
    [style.left.px]="node.visual.right()"
    [style.width.px]="constants.columnSpace * constants.branchRatio">
</div>

<div class="vertical-link" *ngIf="node.hasChildren() && node.children.length > 1"
    [style.top.px]="node.visual.verticalCenter()"
    [style.left.px]="node.visual.right() + constants.columnSpace * constants.branchRatio"
    [style.height.px]="node.lastChild().visual.top - node.visual.top - constants.linkThickness / 2">
</div>

<div class="vertical-joint" *ngIf="node.hasChildren() && node.children.length > 1"
    [style.top.px]="node.lastChild().visual.verticalCenter()"
    [style.left.px]="node.visual.right() + constants.columnSpace * constants.branchRatio">
</div>

<ng-container *ngFor="let child of node.children; first as isFirst; last as isLast">
    <exploration-node-view
        [node]="child"
        [hoveredNode]="hoveredNode"
        [activeNode]="activeNode"
        (nodeSelected)="nodeSelected.emit($event)"
        (nodeUnselected)="nodeUnselected.emit($event)"
        ></exploration-node-view>
        <!-- [editable]="editable" -->
    <div class="horizontal-link"
        [style.top.px]="child.visual.verticalCenter()"
        [style.left.px]="node.visual.right() + constants.columnSpace * constants.branchRatio + constants.linkThickness / 2 * (!isFirst && isLast)"
        [style.width.px]="constants.columnSpace * (1 - constants.branchRatio)">
    </div>
</ng-container>
