@import '../app.component.scss';

.wrapper {
    position: absolute;
    border: 1px solid $ui-border-color;
}

.handwriting {
    border: 3px solid rgba(255, 255, 255, 1);
}

.section-header {
    font-family: 'Roboto Condensed';
    background: $ui-background-color;
    margin: 0;
    border-bottom: 1px solid $ui-border-color;
    font-size: 1rem;
    padding: 0.2rem;
}

.btn-success {
    width: calc(100% - 80px);
}

.btn-danger {
    width: 80px;
}

.operator {
    font-weight: bold;
}

.constant {
    font-style: italic;
}
