.vis-content {
    position: relative;
}

.query-desc {
    font-size: 1.5rem;
}

.query-desc field-badge {
    font-size: 1.2rem;
    font-weight: normal;
}

.aggregate-form {
    display: inline;
}

.aggregate-name {
    font-family: 'Roboto Condensed';
}

.keyword {
    font-family: 'Roboto Condensed';
    opacity: .5;
}

.query-desc field-badge {
    position: relative;
    top: -.15rem;
}

.progress-control {
    width: 400px;
}

.progress {
    height: 6px;
}

.progress-bar-striped {
    opacity: .8;
}

@import '../theme.scss';

:host /deep/ .variable.highlighted {
    fill: lighten($variable-highlight-color, 0%);
    opacity: 0.2;
    pointer-events: none;
}

:host /deep/ .constant.highlighted {
    fill: lighten($constant-highlight-color, 0%);
    opacity: 0.2;
    cursor: pointer;
}
