<div *ngIf="query">
    <header>
        <query-indicator [query]="query"
            (approximatorChanged)="approximatorChanged($event)"
        ></query-indicator>
        <small class="pl-1">updated {{ query.lastUpdatedAt | amTimeAgo }}</small>
    </header>

    <hr class="mt-1 mb-2">
</div>

<div class="vis-content">
    <p [hidden]="query && query.recentProgress.processedBlocks > 0" class="alert alert-primary" role="alert"
        [innerHTML]="L.VisualizationNotStarted">
    </p>

    <div *ngIf="query" [hidden]="query.recentProgress.processedBlocks === 0">
        <div class="progress-control">
            <div class="progress mb-2">
                <div class="progress-bar" role="progressbar"
                    [style.width.%]="query.recentProgress.processedPercent() * 100"
                    [attr.aria-valuenow]="query.recentProgress.processedPercent() * 100"
                    aria-valuemin="0" aria-valuemax="100">
                </div>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    [style.width.%]="query.recentProgress.ongoingPercent() * 100"
                    [attr.aria-valuenow]="query.recentProgress.ongoingPercent() * 100"
                    aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="text-center" id="visible-progress-indicator"
                [style.left.%]="query.visibleProgress.processedPercent() * 100"
            >
                <fa-icon [icon]="['fas', 'caret-down']"></fa-icon> <br />
                <fa-icon [icon]="['far', 'eye']"></fa-icon>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between mb-1">
            <div class="pt-1 flex-grow-1">
                Processed
                <span class="font-weight-bold text-primary">{{ query.recentProgress.processedRows | number }}</span>
                of
                <span [ngPlural]="query.recentProgress.totalRows">
                    <ng-template ngPluralCase="=1"><span class="font-weight-bold">1</span> row</ng-template>
                    <ng-template ngPluralCase="other"><span class="font-weight-bold">{{ query.recentProgress.totalRows | number }}</span> rows</ng-template>
                </span>

                (<!--<span class="font-weight-bold text-primary">{{ query.recentProgress.processedBlocks | number }}</span>
                of
                <span [ngPlural]="query.recentProgress.totalBlocks">
                    <ng-template ngPluralCase="=1"><span class="font-weight-bold">1</span> block</ng-template>
                    <ng-template ngPluralCase="other"><span class="font-weight-bold">{{ query.recentProgress.totalBlocks | number }}</span> blocks</ng-template>
                </span>,
            -->{{ query.recentProgress.processedPercent() | percent }})
            </div>

            <button type="button" class="btn border btn-sm ml-1"
                [hidden]="!query.aggregationLevelX"
                [disabled]="query.aggregationLevelX == query.minLevelX || query.safeguards.length > 0"
                (click)="splitXBins()">
                <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
                <fa-icon [icon]="['fas', 'grip-lines-vertical']"></fa-icon>
                <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                {{ L.SplitXAxisBins }}
            </button>

            <button type="button" class="btn border btn-sm ml-1"
                [hidden]="!query.aggregationLevelX"
                [disabled]="query.aggregationLevelX == query.maxLevelX || query.safeguards.length > 0"
                (click)="mergeXBins()">
                <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                <fa-icon [icon]="['fas', 'grip-lines-vertical']"></fa-icon>
                <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
                {{ L.MergeXAxisBins }}
            </button>

            <button type="button" class="btn border btn-sm ml-1"
                [hidden]="!query.aggregationLevelY"
                [disabled]="query.aggregationLevelY == query.minLevelY || query.safeguards.length > 0"
                (click)="splitYBins()">
                <div class="icon-stack">
                    <fa-icon class="top" [icon]="['fas', 'angle-up']"></fa-icon>
                    <fa-icon [icon]="['fas', 'grip-lines']"></fa-icon>
                    <fa-icon class="bottom" [icon]="['fas', 'angle-down']"></fa-icon>
                </div>
                {{ L.SplitYAxisBins }}
            </button>

            <button type="button" class="btn border btn-sm ml-1"
                [hidden]="!query.aggregationLevelY"
                [disabled]="query.aggregationLevelY == query.maxLevelY || query.safeguards.length > 0"
                (click)="mergeYBins()">
                <div class="icon-stack">
                    <fa-icon class="top" [icon]="['fas', 'angle-down']"></fa-icon>
                    <fa-icon [icon]="['fas', 'grip-lines']"></fa-icon>
                    <fa-icon class="bottom" [icon]="['fas', 'angle-up']"></fa-icon>
                </div>
                {{ L.MergeYAxisBins }}
            </button>

            <button type="button" class="btn border btn-sm ml-1"
                [hidden]="!query.aggregationLevel"
                [disabled]="query.aggregationLevel == query.minLevel || query.safeguards.length > 0"
                (click)="splitBins()">
                <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
                <fa-icon [icon]="['fas', 'grip-lines-vertical']"></fa-icon>
                <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                {{ L.SplitBins }}
            </button>

            <button type="button" class="btn border btn-sm ml-1"
                [hidden]="!query.aggregationLevel"
                [disabled]="query.aggregationLevel == query.maxLevel || query.safeguards.length > 0"
                (click)="mergeBins()">
                <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                <fa-icon [icon]="['fas', 'grip-lines-vertical']"></fa-icon>
                <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
                {{ L.MergeBins }}
            </button>

            <button type="button" class="btn border btn-sm ml-1"
                (click)="query.updateAutomatically=!query.updateAutomatically">
                <fa-icon icon="check-square" [hidden]="!query.updateAutomatically"></fa-icon>
                <fa-icon [icon]="['far', 'square']" [hidden]="query.updateAutomatically"></fa-icon>
                Update automatically
            </button>

            <button type="button" class="btn border btn-sm ml-1"
                [disabled]="query.updateAutomatically"
                (click)="query.sync();forceUpdate()">
                <fa-icon icon="sync-alt"></fa-icon>
                Sync
            </button>
        </div>
        <button class="btn btn-sm btn-secondary w-100" [hidden]="!limitNumCategories"
            (click)="showAllCategories()">
            {{ L.TooManyCategories1 }} {{ numCategories | number }} {{ L.TooManyCategories2 }}
        </button>
    </div>

    <svg #svg class="mt-2"
        [class.hidden]="!query || (query.recentProgress.processedBlocks === 0)"></svg>

    <div #dw class="dropdown-menu" id="dropdown"
        *ngIf="query"
        [style.top.px]="dropdownTop"
        [style.left.px]="dropdownLeft"
        (click)="$event.stopPropagation()"
        [hidden]="!isDropdownVisible">
        <h6 class="dropdown-header px-3" *ngIf="selectedDatum">
            {{ selectedDatum.keys.list[0].valueString() }}<ng-container *ngIf="selectedDatum.keys.list.length > 1"><!--
            -->, {{ selectedDatum.keys.list[1].valueString() }}
            </ng-container>
        </h6>
        <a class="dropdown-item px-3" href="#" (click)="filterClick()">
            <fa-icon class="mr-1" [icon]="['fas', 'filter']"></fa-icon>
            {{ L.SeeOnlyTheseItems }}
        </a>
        <h6 class="dropdown-header px-3">{{ L.CreateSafeguardOnThis }}</h6>
        <a class="dropdown-item px-3" href="#" (click)="safeguardClick(SGT.Value)">
            <svg class="mr-1">
                <circle cx="10" cy="12" r="3"></circle>
            </svg>
            {{ L.Value }}
            <em><small>V(A) ≥ C</small></em>
        </a>
        <a class="dropdown-item px-3" href="#" (click)="safeguardClick(SGT.Rank)"
            [hidden]="!query.isRankAvailable">
            <svg class="mr-1">
                <text dy=".55em" text-anchor="middle" x="10" y="8">1</text>
            </svg>
            {{ L.Rank }}
            <em><small>Rank(A) ≤ C</small></em>
        </a>
        <a class="dropdown-item px-3" href="#" (click)="safeguardClick(SGT.Range)">
            <svg class="mr-1">
                <line x1="3" x2="17" y1="12" y2="12"></line>
                <line x1="2" x2="2" y1="8" y2="16"></line>
                <line x1="18" x2="18" y1="8" y2="16"></line>
            </svg>
            {{ L.Range }}
            <em><small>V(A) ∈ [a, b]</small></em>
        </a>
        <a class="dropdown-item px-3" href="#" (click)="safeguardClick(SGT.Comparative)">
            <svg class="mr-1">
                <line x1="6" x2="14" y1="12" y2="8"></line>
                <line x1="6" x2="14" y1="12" y2="16"></line>
            </svg>
            {{ L.Comparative }}
            <em><small>V(A) &lt; V(B)</small></em>
        </a>
        <a class="dropdown-item px-3" href="#" (click)="safeguardClick(SGT.PowerLaw)"
            [hidden]="!query.isPowerLawAvailable">
            <svg class="mr-1">
                <path d="M 18 16 C 10 16 4 16 2 5"/>
            </svg>
            Power Law
            <em><small>V(x) ~ αx<sup>k</sup></small></em>
        </a>
        <a class="dropdown-item px-3" href="#" (click)="safeguardClick(SGT.Normal)"
            [hidden]="!query.isNormalAvailable">
            <svg class="mr-1">
                <path d="M1.678 14.4c.517-.065 1.024-.173 1.511-.37.485-.196.913-.494 1.309-.842.385-.338.721-.753 1.018-1.176.305-.435.587-.886.85-1.35.27-.478.529-.963.785-1.45.252-.477.503-.953.765-1.424.256-.46.532-.918.855-1.33.168-.214.352-.404.559-.576.201-.167.444-.261.698-.281.258-.02.502 .112.71 .254.213 .146.39 .352.554 .552.339 .412.611 .882.878 1.347.258 .45.497 .913.739 1.372.255 .484.51 .968.779 1.445.261 .462.534 .918.838 1.351.311 .444.652 .862 1.043 1.231.385 .363.824 .646 1.3.857 .458.203 .961.314 1.454.376"/>
            </svg>
            {{ L.Normal }}
            <em><small>V(x) ~ N(μ, sigma)</small></em>
        </a>
        <a class="dropdown-item px-3" href="#" (click)="safeguardClick(SGT.Linear)"
            [hidden]="!query.isLinearAvailable">
            <svg class="mr-1">
                <circle cx="17" cy="8" r="2"></circle>
                <circle cx="8" cy="8" r="2"></circle>
                <circle cx="5" cy="16" r="2"></circle>
                <line x1="2" y1="20" x2="20" y2="0" class="thin"></line>
            </svg>
            {{ L.Linear }}
            <em><small>y = ax + b</small></em>
        </a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item px-3" href="#" (click)="detailClick()">
            <fa-icon class="mr-1" [icon]="['fas', 'table']"></fa-icon>
            {{ L.ShowDataItems }}
        </a>
    </div>


    <div #qcw
        id="query-creator-wrapper"
        class="mt-1"
        *ngIf="query"
        [style.top.px]="queryCreatorTop"
        [style.left.px]="queryCreatorLeft"
        [hidden]="!isQueryCreatorVisible"
        (click)="$event.stopPropagation()">
        <query-creator #qc id="query-creator" class="border rounded"
            [dataset]="query.dataset"
            (created)="queryCreatorCreated($event)"
            (creationCancelled)="queryCreatorCreationCancelled($event)"
        ></query-creator>
    </div>

    <tooltip #tooltip></tooltip>
</div>
