.vis-content {
    position: relative;
    min-height: 100%;
    height: 100%;
}

.normal-icon {
    width: 20px;
    height: 16px;

    path {
        stroke: black;
        stroke-width: 3px;
        stroke-linecap: round;
        fill: none;
        transform: translate(0, -1.5px);
    }
}

header {
    font-size: 1.3rem;

    small {
        font-size: .8rem;
        opacity: .5;
    }
}

.progress {
    height: 6px;
}

.progress-bar-striped {
    opacity: .8;
}

#visible-progress-indicator {
    position: absolute;
    top: -.72rem;
    line-height: 1.1rem;
    display: block;
    width: 20px;
    margin-left: -10px;
    transition: left 0.5s;
    font-size: .8rem;
}

#query-creator-wrapper {
    position: absolute;
    left: 0;
    width: 450px;
    font-size: .9rem;
    background: white;
}

#query-creator {
    display: block;
}

#dropdown {
    display: block;
    position: absolute;
    top: auto;
    left: auto;

    fa-icon {
        display: inline-block;
        width: 20px;
        height: 16px;
        text-align: center;
    }

    svg{
        width: 20px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
    }

    line {
        stroke: black;
        stroke-width: 3px;
        stroke-linecap: round;
    }

    path {
        stroke: black;
        stroke-width: 3px;
        stroke-linecap: round;
        fill: none;
    }

    small {
        opacity: .8;
        font-family: 'Roboto Condensed';
    }
}

#dropdown-safeguard-header {
    opacity: .8;
    pointer-events: none;
}

#floating-svg {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    left: 50px;
    bottom: 0px;
}

@import '../theme.scss';

::ng-deep .event-box {
    fill: transparent;
}

::ng-deep vis .hover-highlighted {
    fill: $variable1-highlight-color;
    stroke: $variable1-highlight-color;
    stroke-width: .5px;
}

::ng-deep vis .horizontal-bars .menu-open-highlighted {
    fill: darken($variable1-highlight-color, 3%);
    stroke: darken($variable1-highlight-color, 3%);
    stroke-width: .5px;
    font-weight: bold;
}

::ng-deep vis .variable1.highlighted {
    fill: lighten($variable1-highlight-color, 0%);
    opacity: 0.2;
}

::ng-deep vis .variable2.highlighted {
    fill: lighten($variable2-highlight-color, 0%);
    opacity: 0.2;
}

::ng-deep vis .variable1.sg-highlighted {
    fill: darken($variable1-highlight-color, 10%);
    stroke: darken($variable1-highlight-color, 10%);
    stroke-width: .5px;
    font-weight: bold;
}

::ng-deep vis .variable2.sg-highlighted {
    fill: darken($variable2-highlight-color, 10%);
    stroke: darken($variable2-highlight-color, 10%);
    stroke-width: .5px;
    font-weight: bold;
}

::ng-deep vis .constant.highlighted {
    fill: lighten($constant-highlight-color, 0%);
    opacity: 0.2;
}

::ng-deep vis line.constant {
    stroke: $constant-highlight-color;
    stroke-width: 1px;
}

::ng-deep vis .punchcard .menu-open-highlighted {
    stroke: lighten($variable1-highlight-color, 3%);
    stroke-width: 3px;
}

::ng-deep vis .punchcard .variable1.stroke-highlighted {
    stroke: darken($variable1-highlight-color, 10%);
    stroke-width: 3px;
}

::ng-deep vis .punchcard .variable2.stroke-highlighted {
    stroke: darken($variable2-highlight-color, 10%);
    stroke-width: 3px;
}
