@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "../theme.scss";

.vis-content {
    position: relative;
    // min-height: 100%;
    // height: 100%;
}

tooltip {
    pointer-events: none;
}

.normal-icon {
    width: 20px;
    height: 16px;

    path {
        stroke: black;
        stroke-width: 3px;
        stroke-linecap: round;
        fill: none;
        transform: translate(0, -1.5px);
    }
}

header {
    font-size: 1.3rem;

    small {
        font-size: 0.8rem;
        opacity: 0.5;
    }
}

.progress {
    height: 6px;
}

.progress-bar-striped {
    opacity: 0.8;
}

#visible-progress-indicator {
    position: absolute;
    top: -0.72rem;
    line-height: 1.1rem;
    display: block;
    width: 20px;
    margin-left: -10px;
    transition: left 0.5s;
    font-size: 0.8rem;
}

#query-creator-wrapper {
    position: absolute;
    left: 0;
    width: 450px;
    font-size: 0.9rem;
    background: white;
    z-index: 10;
}

#query-creator {
    display: block;
}

#dropdown {
    display: block;
    position: absolute;
    top: auto;
    left: auto;

    fa-icon {
        display: inline-block;
        width: 20px;
        height: 16px;
        text-align: center;
    }

    svg {
        width: 20px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
    }

    text {
        font-family: "Arial";
        font-weight: bold;
    }

    line {
        stroke: black;
        stroke-width: 3px;
        stroke-linecap: round;

        &.thin {
            stroke-width: 2px;
        }
    }

    path {
        stroke: black;
        stroke-width: 3px;
        stroke-linecap: round;
        fill: none;
    }

    small {
        opacity: 0.8;
        font-family: "Roboto Condensed";
    }

    a:active {
        line,
        path {
            stroke: white;
        }

        text,
        circle {
            stroke: white;
            fill: white;
        }
    }

    &.mobile {
        position: fixed;
        bottom: 0px !important;
        left: 0 !important;
        right: 0;
        top: auto !important;
        border: none;
        border-top: 1px solid $border-color;
        border-radius: 0px;
        width: 100%;
    }
}

svg.hidden {
    display: none;
}

.icon-stack {
    position: relative;
    display: inline-block;

    .top {
        position: absolute;
        left: 0.15em;
        top: -0.5em;
    }

    .bottom {
        position: absolute;
        left: 0.15em;
        bottom: -0.5em;
    }
}

button.border:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.btn-mini {
    padding: 0.1rem 0.2rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

#x-title-wrapper,
#x-labels-wrapper,
#y-title-wrapper,
#y-labels-wrapper,
#xy-title-wrapper {
    display: none;
}

#x-title-wrapper,
#y-title-wrapper {
    position: relative;
}

.x-title-tools {
    position: absolute;
    right: 0;
    top: 0;
}

.y-title-tools {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 720px) {
    #vis-grid {
        display: grid;
        grid-template-columns: 20px 20px 100px;
        grid-template-rows: 20px 20px 100px;
    }

    #x-title-wrapper,
    #x-labels-wrapper,
    #y-title-wrapper,
    #y-labels-wrapper,
    #xy-title-wrapper {
        display: block;
    }

    #x-title-wrapper {
        grid-row: 1;
        grid-column: 3;
    }

    #x-labels-wrapper {
        grid-row: 2;
        grid-column: 3;

        overflow-x: scroll;
    }

    #y-title-wrapper {
        grid-row: 3;
        grid-column: 1;
    }

    #y-labels-wrapper {
        grid-row: 3;
        grid-column: 2;

        overflow-y: scroll;
    }

    #xy-title-wrapper {
        grid-row: 2;
        grid-column: 2;
    }

    #vis-wrapper {
        grid-row: 3;
        grid-column: 3;

        overflow: scroll;
    }

    .hide-scrollbar {
        -ms-overflow-style: none; // IE 10+
        scrollbar-width: none; // Firefox
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }

    header {
        font-size: 1em;
    }

    .text-sm {
        font-size: 0.8rem;
    }
}

@import "../theme.scss";

::ng-deep .event-box {
    fill: transparent;
}

::ng-deep vis text.hover {
    fill: $variable1-highlight-color;
    stroke: $variable1-highlight-color;
    stroke-width: 0.5px;
}

::ng-deep vis .bars text.highlighted {
    fill: darken($variable1-highlight-color, 3%);
    stroke: darken($variable1-highlight-color, 3%);
    stroke-width: 0.5px;
    font-weight: bold;
}

::ng-deep vis .bars text.menu-highlighted {
    fill: darken($variable1-highlight-color, 3%);
    stroke: darken($variable1-highlight-color, 3%);
    stroke-width: 0.5px;
    font-weight: bold;
}

::ng-deep vis .bars text.variable2.highlighted {
    fill: darken($variable2-highlight-color, 3%);
    stroke: darken($variable2-highlight-color, 3%);
    stroke-width: 0.5px;
    font-weight: bold;
}

::ng-deep vis .bars rect.highlighted {
    fill: lighten($variable1-highlight-color, 0%);
    opacity: 0.2;
}

::ng-deep vis .bars rect.variable2.highlighted {
    fill: lighten($variable2-highlight-color, 0%);
    opacity: 0.2;
}

::ng-deep vis .bars .constant.highlighted {
    fill: lighten($constant-highlight-color, 0%);
    opacity: 0.2;
}

::ng-deep vis line.constant {
    stroke: $constant-highlight-color;
    stroke-width: 1px;
}

::ng-deep vis .heatmap rect.menu-highlighted {
    stroke: lighten($variable1-highlight-color, 3%);
    stroke-width: 3px;
}

::ng-deep vis .heatmap text.menu-highlighted {
    fill: darken($variable1-highlight-color, 3%);
    stroke: darken($variable1-highlight-color, 3%);
    stroke-width: 0.5px;
    font-weight: bold;
}

::ng-deep vis .heatmap text.highlighted {
    fill: darken($variable1-highlight-color, 3%);
    stroke: darken($variable1-highlight-color, 3%);
    stroke-width: 0.5px;
    font-weight: bold;
}

::ng-deep vis .heatmap text.variable2.highlighted {
    fill: darken($variable2-highlight-color, 3%);
    stroke: darken($variable2-highlight-color, 3%);
    stroke-width: 0.5px;
    font-weight: bold;
}

::ng-deep vis .heatmap .variable1.stroke-highlighted {
    stroke: darken($variable1-highlight-color, 10%);
    stroke-width: 3px;
}

::ng-deep vis .heatmap .variable2.stroke-highlighted {
    stroke: darken($variable2-highlight-color, 10%);
    stroke-width: 3px;
}
