<div class="floating" [style.left.px]="left" [style.top.px]="top">
    <div class="container" [hidden]="!visible">
        <h3>Choose a column <small><fa name="microphone"></fa></small></h3>
        <hr>
        <div class="row no-gutters">
            <div *ngFor="let field of fields" class="col-4">
                <button (click)="fieldSelected.emit({node: node, field: field})" class="btn"
                    [class.btn-primary]="highlightedFields.includes(field)"
                    [class.btn-light]="!highlightedFields.includes(field)"
                    [attr.title]="field.name"
                >[{{ field.vlType.toString()[0] }}] {{ field.name }}</button>
            </div>
        </div>
    </div>
</div>
