<variable-indicator [variable]="variable" [className]="'variable1'"
    [isRank]="isRank" [highlighted]="highlighted == 1"
    [query]="query" (mouseenter)="highlight.emit(1)"
    (mouseleave)="highlight.emit(0)"
></variable-indicator>

<span class="operator pr-1"
    (mouseenter)="highlight.emit(2)" (mouseleave)="highlight.emit(0)"
>{{ operator }}</span>
<span class="constant pr-1" [class.highlighted]="highlighted == 3"
    (mouseenter)="highlight.emit(3)" (mouseleave)="highlight.emit(0)"
    (click)="editing=editable" *ngIf="!isRank && !editing"
>{{ constant.value | smartNumber }}</span>
<form class="inplace-editor" *ngIf="!isRank && editing">
    <div class="input-group inline ml-1">
        <input type="text" class="form-control form-control-sm"
        [ngModel]="constant.value | smartNumber"
        [size]="(constant.value.toString() | smartNumber).length" name="valueConstant"
        autofocus #valueConstant>
        <div class="input-group-append">
            <button type="submit" class="btn btn-success form-control-sm"
            (click)="editing=false; constant.value=toNumber(valueConstant.value); constantUserChanged.emit(constant); $event.preventDefault() ">Save</button>
            <button class="btn btn-danger form-control-sm" (click)="editing=false">Cancel</button>
        </div>
    </div>
</form>
<span class="constant pr-1" [class.highlighted]="highlighted == 3"
    (mouseenter)="highlight.emit(3)" (mouseleave)="highlight.emit(0)"
    (click)="editing=editable" *ngIf="isRank && !editing"
>{{ constant.rank | number:CT.rankFormat }}</span>
<form class="inplace-editor" *ngIf="isRank && editing">
    <div class="input-group inline ml-1">
        <input type="text" class="form-control form-control-sm"
        [ngModel]="constant.rank | smartNumber"
        size="3" name="rankConstant" autofocus #rankConstant>
        <div class="input-group-append">
            <button type="submit" class="btn btn-success form-control-sm"
            (click)="editing=false; constant.rank=toNumber(rankConstant.value); constantUserChanged.emit(constant); $event.preventDefault() ">Save</button>
            <button class="btn btn-danger form-control-sm" (click)="editing=false">Cancel</button>
        </div>
    </div>
</form>
