section {
    padding: 5px;
}

table {
  font-size: 0.8em;
  white-space: nowrap;
  width: 100%;
  text-overflow:ellipsis;
}

th {
  overflow:hidden;
  min-width: 40px;
  max-width: 90px;
  word-wrap: break-word;
  word-break: break-all;
}

td {
  overflow:hidden;
  min-width: 40px;
  max-width: 90px;
}

.toggle {
    padding:0.8em;
}

select {
    font-size: 0.8rem;
    padding: .15rem .25rem;
    height: calc(1.1rem + 2px);
}

