<section *ngIf="dataset && dataset.rows && dataset.fields" [hidden]="!visible">
    <h3>Metadata Editor</h3>
    <h4>Overview</h4>
    <p>
        The dataset has {{ dataset.fields.length | number }} fields and {{ dataset.rows.length | number }} rows.
    </p>

    <h4>Data Viewer</h4>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th *ngFor="let field of dataset.fields" title="{{ field.name }}">
                    {{ field.name }}
                </th>
            </tr>
            <tr>
                <th *ngFor="let field of dataset.fields">
                    <select class="form-control form-control-sm" [(ngModel)]="field.vlType">
                        <option value="{{ VlType.Quantitative }}">{{ VlType.Quantitative }}</option>
                        <option value="{{ VlType.Dozen }}">{{ VlType.Dozen }}</option>
                        <option value="{{ VlType.Ordinal }}">{{ VlType.Ordinal }}</option>
                        <option value="{{ VlType.Nominal }}">{{ VlType.Nominal }}</option>
                        <option value="{{ VlType.Key }}">{{ VlType.Key }}</option>
                    </select>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sample of dataset.rows.slice(pageSize * (page - 1), pageSize * page)">
                <td *ngFor="let field of dataset.fields" title="{{ sample[field.name] }}">
                    {{ sample[field.name] }}
                </td>
            </tr>
        </tbody>
    </table>

    <ngb-pagination [collectionSize]="dataset.rows.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="10" class="d-flex justify-content-center">
    </ngb-pagination>
</section>
