<section class="navbar navbar-dark fixed-top bg-dark box-shadow justify-content-between px-1 py-1" id="navbar">
    <button class="navbar-brand btn btn-dark mr-1" [class.active]="showQueryList"
    (click)="showQueryList=!showQueryList;showGuardList=false;toggle(SGT.None)">
        <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
        <span class="badge badge-light" *ngIf="engine && engine.queries.length > 0">{{ engine.queries.length }}</span>
    </button>
    <div class="text-light text-center title my-1">
        <div>
            <a href="/" class="text-light">
            <img src="assets/eye-white.png" width="20" height="20" class="d-inline-block" alt="">
            ProReveal
            </a>
        </div>
        <small *ngIf="engine && engine.dataset">({{ engine.dataset.name }})</small> <!--, CODE: <strong>{{ storage.code}}</strong>)</small>-->
    </div>
    <div>
        <button class="btn text-light" (click)="Util.toggleFullScreen()">
            <fa-icon [icon]="['fas', 'expand']"></fa-icon>
        </button>
        <button class="btn text-light" (click)="showInfo=!showInfo">
            <fa-icon [icon]="['fas', 'info']"></fa-icon>
        </button>
        <button class="navbar-brand btn btn-dark mr-0" [class.active]="showGuardList"
            (click)="showGuardList=!showGuardList;showQueryList=false;toggle(SGT.None)">
            <fa-icon [icon]="['fas', 'tasks']"></fa-icon>
            <span class="badge badge-light" *ngIf="engine && engine.safeguards.length > 0">{{ engine.safeguards.length }}</span>
        </button>
    </div>
    <div [hidden]="!showInfo">
        <div *ngIf="engineType == 'remote'">
            <ng-container *ngIf="socket.serverInfo">
                <span class="text-light small">
                    Connected to <strong>{{ socket.url }}</strong> (ProReveal Engine {{ socket.serverInfo.version }}) <ng-container *ngIf="socket.serverInfo.backend == 'spark'">
                    (Spark Backend {{ socket.serverInfo.version }},
                    Apache Spark {{ socket.serverInfo.sparkVersion }}, Master: {{ socket.serverInfo.master }},
                    <a href="{{ socket.serverInfo.uiWebUrl }}" target="_blank" class="text-light">Web UI</a>)</ng-container>
                </span>
            </ng-container>
            <ng-container *ngIf="!socket.serverInfo">
                <span class="text-light small">
                    <fa-icon [icon]="['fas', 'exclamation-circle']"></fa-icon>
                    Disconnected.
                    Trying to connect to {{ socket.url }}
                </span>
            </ng-container>
        </div>
    </div>
</section>
<div class="container-stretched" (window:beforeunload)="unload()" *ngIf="engine">
    <section id="query-view" class="bg-light border-right" [class.visible]="showQueryList">
        <div class="query-view-scroll">
            <h6 id="ongoing-query-view-header" class="border-left section-header p-1 border-bottom">
                {{ L.OngoingVisualization }}
            </h6>

            <section id="ongoing-query-view" class="styled-scroll">
                <div [hidden]="engine.ongoingQueries.length == 0" class="btn-group w-100 rounded-0 border-bottom" role="group" id="all">
                    <button type="button" class="btn btn-sm py-2 btn-light" (click)="resumeAll()">
                        <fa-icon [icon]="['fas', 'play']"></fa-icon>
                        {{ L.ResumeAll }}
                    </button>
                    <button type="button" class="btn btn-sm py-2 btn-light border-left" (click)="pauseAll()">
                        <fa-icon [icon]="['fas', 'pause']"></fa-icon>
                        {{ L.PauseAll }}
                    </button>
                    <button type="button" class="btn btn-sm py-2 btn-light border-left" (click)="engine.alternate=!engine.alternate;alternateChange()">
                        <fa-icon [icon]="['far', 'square']" [hidden]="engine.alternate"></fa-icon>
                        <fa-icon [icon]="['far', 'check-square']" [hidden]="!engine.alternate"></fa-icon>
                        {{ L.Alternate }}
                    </button>
                </div>
                <div id="queries" class="styled-scroll bg-light">
                <!-- [sortablejs]="engine.ongoingQueries"
                    [sortablejsOptions]="sortablejsOptions">-->
                    <div *ngFor="let query of engine.ongoingQueries">
                        <div class="query d-flex flex-row border-bottom" (click)="querySelected(query)"
                            [class.selected]="activeQuery === query"
                            [class.highlighted]="highlightedQuery === query">
                            <progress-ring
                                [processed]="query.recentProgress.processedPercent()"
                                [ongoing]="query.recentProgress.ongoingPercent()"
                                [radius]="20" [fontSize]="'0.7rem'"
                                [style.opacity]="query.state === QS.Paused ? 0.2 : 1"></progress-ring>

                            <div class="field-names m-0 p-0 ml-2">
                                <span *ngFor="let field of query.fields; last as isLast">
                                    <field-badge [field]="field"></field-badge>
                                    {{ field.name }}<span *ngIf="!isLast" class="mr-2">,</span>
                                </span>
                                <div *ngIf="query.where">
                                    <span class="filtered-by mr-2">WITH</span>
                                    <span *ngFor="let pred of query.where.predicates; last as isLast">
                                        <field-badge [field]="pred.target" class="mr-1"></field-badge>
                                        <predicate-indicator [predicate]="pred"></predicate-indicator><span *ngIf="!isLast" class="mr-2">,</span>
                                    </span>
                                </div>
                            </div>

                            <fa-icon class="state-icon" [icon]="['fas', 'play']" [hidden]="engine.runningQuery != query || query.state === QS.Paused"></fa-icon>
                            <fa-icon class="state-icon" [icon]="['fas', 'pause']" [hidden]="query.state === QS.Running"></fa-icon>

                            <div class="actions d-flex align-items-center">
                                <button class="btn px-2 py-0" [hidden]="query.state === QS.Paused" (click)="queryPauseClick(query, $event)">
                                    <fa-icon [icon]="['fas', 'pause']"></fa-icon>
                                </button>
                                <button class="btn px-2 py-0" [hidden]="query.state === QS.Running" (click)="queryRunClick(query, $event)">
                                    <fa-icon [icon]="['fas', 'play']"></fa-icon>
                                </button>
                                <button class="btn px-2 py-0" (click)="queryRemoveClicked(query, confirmRemoval, rejectRemoval, $event)">
                                    <fa-icon [icon]="['fas', 'times']"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div [hidden]="engine.ongoingQueries.length > 0" class="m-0 guide p-2 alert alert-primary rounded-0" style="word-break:keep-all;">
                    {{ L.NoOngoingQueries }}
                </div>
            </section>
            <h3 id="completed-query-view-header" class="section-header p-1 border-bottom border-right">
                {{ L.CompletedVisualization }}
            </h3>
            <section id="completed-query-view" class="styled-scroll bg-light">
                <ng-container *ngFor="let query of engine.completedQueries">
                    <div class="query d-flex flex-row border-bottom" (click)="querySelected(query)"
                        [class.selected]="activeQuery === query"
                        [class.highlighted]="highlightedQuery === query">
                        <div class="field-names m-0 p-0">
                            <span *ngFor="let field of query.fields; last as isLast">
                                <field-badge [field]="field"></field-badge>
                                {{ field.name }}<span *ngIf="!isLast" class="mr-2">,</span>
                            </span>
                            <div *ngIf="query.where">
                                <span class="filtered-by mr-2">WITH</span>
                                <span *ngFor="let pred of query.where.predicates; last as isLast">
                                    <field-badge [field]="pred.target" class="mr-1"></field-badge>
                                    <predicate-indicator [predicate]="pred"></predicate-indicator><span *ngIf="!isLast" class="mr-2">,</span>
                                </span>
                            </div>
                        </div>
                        <div class="actions d-flex align-items-center">
                            <button class="btn px-2 py-0" (click)="queryRemoveClicked(query, confirmRemoval, rejectRemoval, $event)">
                                <fa-icon [icon]="['fas', 'times']"></fa-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
                <div [hidden]="engine.completedQueries.length > 0" class="m-0 guide p-2 alert alert-primary rounded-0" style="word-break:keep-all;">
                    {{ L.NoCompletedQueries }}
                </div>
            </section>
        </div>
        <section id="new-query">
            <button class="btn btn-secondary w-100 rounded-0" (click)="toggleQueryCreator()">
                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                {{ L.NewVisualization }}
            </button>

            <query-creator
                #queryCreator
                id="query-creator" [hidden]="!creating"
                [dataset]="engine.dataset"
                (created)="create($event.query, Priority.Highest)"
                (creationCancelled)="creating=false"
                ></query-creator>
        </section>
    </section>
    <div id="close-query-view" [hidden]="!showQueryList" (click)="showQueryList=false">
    </div>
    <section id="main" class="row p-1"
        [class.query-visible]="showQueryList"
        [class.guard-visible]="showGuardList"
        [class.guard-panel-open]="activeSafeguardPanel != SGT.None"
        [class.dropdown-open]="vis.isDropdownVisible"
        [class.bars]="activeQuery && activeQuery.bars"
        (click)="visBackgroundClick()">

        <vis #vis
        [hidden]="!activeQuery"
        [query]="activeQuery"
        [floatingLegend]="legend"
        [minimap]="minimap"
        (variableSelected)="variableSelected($event)"
        (constantSelected)="constantSelected($event)"
        (queryCreated)="queryRequestedFromVis($event)"
        (numBinsChanged)="numBinsChanged()"
        (sgPanelRequested)="sgPanelRequested($event)"
        (dataViewerRequested)="dataViewerRequested($event)"
        class="pr-1"
        ></vis>

        <div id="vis-panel" class="d-flex border-top justify-content-around
            align-items-center"
            [style.bottom.px]="configViewHeight">

            <div id="legend-wrapper" #legend
                [hidden]="!activeQuery || (activeQuery && activeQuery.recentProgress.processedBlocks == 0) || !showLegend
    || !isHeatmap() || showQueryList || showGuardList" >
                <svg class="legend"></svg>
                <svg class="brush"></svg>
            </div>

            <div id="minimap-wrapper" class="text-align-center" #minimap
                [hidden]="!activeQuery || (activeQuery && activeQuery.recentProgress.processedBlocks == 0)
                || showQueryList || showGuardList">
                <svg class="border"></svg>
            </div>
        </div>

        <div *ngIf="!activeQuery" class="alert alert-primary">
            <span *ngIf="engine.ongoingQueries.length == 0 && engine.completedQueries.length == 0"
                [innerHTML]="L.CreateANewVisualizationMobile">
            </span>
            <ng-container *ngIf="engine.ongoingQueries.length || engine.completedQueries.length">
                {{ L.ChooseVisualizationToInspectMobile }}
            </ng-container>
        </div>
    </section>

    <div id="close-safeguard-view" [hidden]="!showGuardList" (click)="showGuardList=false">
    </div>
    <section id="safeguard-view" class="bg-light border-left"
        [class.visible]="showGuardList">
        <h3 class="section-header p-1 border-right-0 border-top border-bottom">
            {{ L.Safeguards }}
        </h3>
        <section id="safeguard-list" class="styled-scroll bg-light">
            <p *ngIf="engine.safeguards.length === 0" class="m-0 guide p-2 alert alert-primary rounded-0" style="word-break:keep-all;">
                {{ L.SafeguardGuide }}
            </p>

            <sg-list-item *ngFor="let sg of engine.safeguards"
                [safeguard]="sg"
                (removeClicked)="sgRemoveClicked($event)"
                (mouseenter)="sgMouseEnter(sg)"
                (mouseleave)="sgMouseLeave(sg)"
                (click)="sgClick(sg)"
                ></sg-list-item>
        </section>
    </section>

    <section id="safeguard-config-view" class="border-top"
        #safeguardConfigView
        [hidden]="activeSafeguardPanel == SGT.None" *ngIf="activeQuery">

        <!-- Value -->
        <div *ngIf="activeSafeguardPanel === SGT.Value">
            <div class="display text-center px-2 py-1">
                <sg-point [highlighted]="false" [query]="activeQuery" [variable]="variable1 || combinedVariable1"
                    [isRank]="false" [operator]="operator" [constant]="valueConstant"
                    (constantUserChanged)="constantUserChanged($event)" [editable]="true"></sg-point>
            </div>
            <!--<div class="alert guide px-2 py-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.ValueTip"></span>
            </div>-->
        </div>

        <div *ngIf="activeSafeguardPanel === SGT.Rank">
            <div class="display text-center px-2 py-1">
                <sg-point [highlighted]="false" [query]="activeQuery" [variable]="variable1 || combinedVariable1"
                    [isRank]="true" [operator]="operator" [constant]="rankConstant"
                    (constantUserChanged)="constantUserChanged($event)" [editable]="true"></sg-point>
            </div>
            <!--<div class="alert guide px-2 py-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.RankTip"></span>
            </div>-->
        </div>

        <!-- Range -->
        <div *ngIf="activeSafeguardPanel === SGT.Range">
            <div class="display text-center px-2 py-1">
                <sg-range [highlighted]="false" [query]="activeQuery" [variable]="variable1 || combinedVariable1"
                    [constant]="rangeConstant"
                    (constantUserChanged)="constantUserChanged($event)" [editable]="true"></sg-range>
            </div>
            <!--<div class="alert guide px-2 py-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.RangeTip"></span>
            </div>-->
        </div>

        <!-- Comparative -->
        <div *ngIf="activeSafeguardPanel === SGT.Comparative">
            <div class="display text-center px-2 py-1">
                <sg-comparative [highlighted]="false" [query]="activeQuery" [variable1]="variable1 || combinedVariable1"
                    [variable2]="variable2 || combinedVariable2" [operator]="operator"></sg-comparative>
            </div>
            <!--<div class="alert guide px-2 py-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.ComparativeTip"></span>
            </div>-->
        </div>

        <!-- PowerLaw -->
        <div *ngIf="activeSafeguardPanel == SGT.PowerLaw">
            <div class="display text-center px-2 py-1">
                <sg-distributive [highlighted]="false" [query]="activeQuery"
                    [constant]="powerLawConstant" [groupBy]="activeQuery.groupBy"></sg-distributive>
            </div>
            <!--<div class="alert guide px-2 py-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.PowerLawTip"></span>
            </div>-->
        </div>

        <!-- Normal -->
        <div *ngIf="activeSafeguardPanel == SGT.Normal">
            <div class="display text-center px-2 py-1">
                <sg-distributive [highlighted]="false" [query]="activeQuery" [constant]="normalConstant"
                    [groupBy]="activeQuery.groupBy"></sg-distributive>
            </div>
            <!--<div class="alert guide px-2 py-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.NormalTip"></span>
            </div>-->
        </div>

        <!-- Linear -->
        <div *ngIf="activeSafeguardPanel == SGT.Linear">
            <div class="display text-center px-2 py-1">
                <sg-distributive [highlighted]="false" [query]="activeQuery" [constant]="linearRegressionConstant"
                    [groupBy]="activeQuery.groupBy"></sg-distributive>
            </div>
            <!--<div class="alert guide px-2 py-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.LinearTip"></span>
            </div>-->
        </div>

        <div class="p-1 safeguard-actions d-flex">
            <div *ngIf="activeSafeguardPanel === SGT.Value
                && activeQuery.visibleProgress.processedRows > 0
                && (variable1 || combinedVariable1)
                && valueConstant && activeQuery.approximator.estimatable">
                <p-indicator [p]="ValueEstimate(activeQuery, variable1 || combinedVariable1, operator, valueConstant)"></p-indicator>
            </div>
            <div *ngIf="activeSafeguardPanel === SGT.Value
                && activeQuery.visibleProgress.processedRows > 0
                && (variable1 || combinedVariable1)
                && valueConstant && !activeQuery.approximator.estimatable">
                <truthiness-indicator [t]="MinMaxValueEstimate(activeQuery, variable1 || combinedVariable1, operator, valueConstant)"></truthiness-indicator>
            </div>
            <div *ngIf="activeSafeguardPanel === SGT.Rank
                && activeQuery.visibleProgress.processedRows > 0
                && variable1 && rankConstant && activeQuery.approximator.estimatable">
                <p-indicator [p]="RankEstimate(activeQuery, variable1, operator, rankConstant)"></p-indicator>
            </div>
            <div *ngIf="activeSafeguardPanel === SGT.Rank
                && activeQuery && activeQuery.visibleProgress.processedRows > 0
                && variable1 && rankConstant && !activeQuery.approximator.estimatable">
                <truthiness-indicator [t]="MinMaxRankEstimate(activeQuery, variable1, operator, rankConstant)"></truthiness-indicator>
            </div>
            <div *ngIf="activeSafeguardPanel === SGT.Range
                && activeQuery.visibleProgress.processedRows > 0 && (variable1 || combinedVariable1)
                && rangeConstant && activeQuery.approximator.estimatable">
                <p-indicator [p]="RangeEstimate(activeQuery, variable1 || combinedVariable1, Operators.InRange, rangeConstant)"></p-indicator>
            </div>
            <div *ngIf="activeSafeguardPanel === SGT.Range
                && activeQuery.visibleProgress.processedRows > 0 && (variable1 || combinedVariable1)
                && rangeConstant && !activeQuery.approximator.estimatable">
                <truthiness-indicator [t]="MinMaxRangeEstimate(activeQuery, variable1, Operators.InRange, rangeConstant)"></truthiness-indicator>
            </div>
            <div *ngIf="activeSafeguardPanel === SGT.Comparative
                && activeQuery.visibleProgress.processedRows > 0 && !variablePair && !combinedVariablePair
                && activeQuery.approximator.estimatable" class="text-sm alert alert-info p-2 mb-0">
                <span [innerHTML]="L.ComparativeTipMobile"></span>
            </div>
            <div *ngIf="activeSafeguardPanel === SGT.Comparative
                && activeQuery.visibleProgress.processedRows > 0 && (variablePair || combinedVariablePair)
                && activeQuery.approximator.estimatable">
                <p-indicator [p]="ComparativeEstimate(activeQuery, variablePair || combinedVariablePair, operator)"></p-indicator>
            </div>
            <div *ngIf="activeSafeguardPanel === SGT.Comparative
                && activeQuery.visibleProgress.processedRows > 0 && (variablePair || combinedVariablePair)
                && !activeQuery.approximator.estimatable">
                <truthiness-indicator [t]="MinMaxComparativeEstimate(activeQuery, variablePair, operator)"></truthiness-indicator>
            </div>
            <div *ngIf="activeSafeguardPanel == SGT.PowerLaw
                && activeQuery.visibleProgress.processedRows > 0">
                <quality-indicator [q]="PowerLawEstimate(activeQuery, powerLawConstant)"></quality-indicator>
            </div>
            <div *ngIf="activeSafeguardPanel == SGT.Normal
                && activeQuery.visibleProgress.processedRows > 0">
                <quality-indicator [q]="NormalEstimate(activeQuery, normalConstant)"></quality-indicator>
            </div>
            <div *ngIf="activeSafeguardPanel == SGT.Linear
                && activeQuery.visibleProgress.processedRows > 0">
                <error-indicator [e]="LinearRegressionEstimate(activeQuery, linearRegressionConstant)"></error-indicator>
            </div>

            <button class="btn btn-danger border-right-0 mr-1 px-3" (click)="cancelSafeguard()">
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
            </button>
            <button class="btn btn-success border-right-0 px-3" (click)="createSafeguard()">
                <fa-icon [icon]="['fas', 'check']"></fa-icon>
            </button>
        </div>
    </section>
    <!--<metadata-editor [dataset]="engine.dataset" #metadataEditor id="metadata-editor" [hidden]="!metadataEditor.visible">
    </metadata-editor>-->
</div>

<ng-template #confirmRemoval let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{ L.RemovingVis }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            {{ L.RemovingVisAlert }}
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="d()">{{ L.Cancel }}</button>
        <button type="button" class="btn btn-danger" (click)="c()">{{ L.Remove }}</button>
    </div>
</ng-template>

<ng-template #rejectRemoval let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Error</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            {{ L.CannotRemoveSafeguardedVis }}
        </p>
    </div>
</ng-template>

<ng-template #dataViewerModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> {{ L.DataViewer }}
            <small>
                (<ng-container *ngFor="let pred of dataViewerWhere.predicates index as i">
                    <field-badge [field]="pred.target" class="mr-1"></field-badge>
                    <predicate-indicator [predicate]="pred"></predicate-indicator><span *ngIf="i < dataViewerWhere.length - 1" class="mr-1">, </span>
                </ng-container>,
                found {{ filteredRows.length | number}} row{{ filteredRows.length == 1 ? '' : 's'}})
            </small>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body styled-scroll">
        <data-viewer
            [dataset]="engine.dataset"
            [rows]="filteredRows"
            ></data-viewer>
    </div>
</ng-template>
