@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "../theme.scss";

$navbar-height: 50px;
$query-view-width: 300px;
$button-height: 38px;

.title {
    line-height: 0.8em;

    img {
        position: relative;
        top: -2px;
    }

    small {
        font-size: 0.7rem;
    }
}

.navbar .badge {
    font-size: 50%;
}

.section-header {
    font-family: "Roboto Condensed", "Noto Sans KR";
    background: $ui-background-color;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.section-subheader {
    font-family: "Roboto Condensed", "Noto Sans KR";
    background: lighten($ui-background-color, 4%);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    padding: 0.2rem;
}

#completed-query-view {
    overflow-x: hidden;
}

#ongoing-query-view {
    position: relative;
}

#queries {
    // height: 100%;
    overflow-x: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.container-stretched {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#close-query-view {
    position: fixed;
    width: calc(100% - #{$query-view-width});
    z-index: 10;
    top: $navbar-height;
    height: calc(100% - #{$navbar-height});
    left: $query-view-width;
    right: 0px;
    background: transparent;
}

#query-view {
    position: fixed;
    width: $query-view-width;
    z-index: 10;
    top: $navbar-height;
    height: calc(100% - #{$navbar-height});
    left: -$query-view-width;
    transition: left .3s ease-in-out;
    right: calc(100% - #{$query-view-width});
    overflow-x: hidden;

    &.visible {
        left: 0px;
    }

    .query-view-scroll {
        overflow-y: scroll;
        height: calc(100% - #{$button-height});
    }
}

.query {
    padding: 6px;
    background: #fefefe;
    position: relative;
    width: 100%;
    overflow: hidden;

    progress-ring {
        height: 40px;
        flex-basis: 40px;
    }

    .field-names {
        font-size: 0.8rem;
        list-style: none;
        margin: 0;
        flex-grow: 1;
        flex-basis: auto;
    }

    .field-names div {
        white-space: nowrap;
        overflow: hidden;
        width: calc(100% - 0.5rem);
    }

    .filtered-by {
        opacity: 0.5;
        font-family: "Roboto Condensed", "Noto Sans KR";
    }

    &:hover {
        cursor: pointer;
        background: lighten($ui-background-color, 3%);
    }

    &.selected {
        border-color: $primary;
        background: lighten($primary, 46%);
    }

    &.highlighted {
        border-color: $warning;
        background: lighten($warning, 45%);
    }
}

#new-query {
    position: sticky;
    bottom: 0;
    left: 0;
    width: $query-view-width;
    font-size: 0.9rem;

    button {
        display: block;
    }

    #query-creator {
        background: white;
        width: 100%;
    }
}


#completed-query-view .field-names div {
    width: 100%;
}

.actions {
    button {
        font-size: 1rem;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }
}

.state-icon {
    font-size: 0.6em;
    position: absolute;
    left: 3px;
    top: 3px;
}

#main {
    margin-top: $navbar-height;
    min-height: 100%;

    //transform: translateX(0px); // do not use this. will break position:fixed for child elements.
    transition: transform .3s ease-in-out;

    &.query-visible {
        transform: translateX($query-view-width);
    }

    &.guard-visible {
        transform: translateX(-$query-view-width);
    }
}

#floating-svg-wrapper {
    position: sticky;
    display: block;
    float: left;
    background: white;
    bottom: 20px;

    .legend {
        pointer-events: none;
    }

    .angular-brush {
        position: absolute;
        left: 0;
    }
}

#toggle-legend {
    position: fixed;
    left: 10px;
    bottom: 10px;

    button {
    }
}

#close-safeguard-view {
    position: fixed;
    width: calc(100% - #{$query-view-width});
    z-index: 10;
    top: $navbar-height;
    height: calc(100% - #{$navbar-height});
    left: 0px;
    right: $query-view-width;
    background: transparent;
}

#safeguard-view {
    display: flex;
    flex-direction: column;

    position: fixed;
    width: $query-view-width;
    z-index: 10;
    top: $navbar-height;
    height: calc(100% - #{$navbar-height});
    left: 100%;
    transition: left .3s ease-in-out;
    right: -$query-view-width;
    overflow-x: hidden;

    &.visible {
        right: 0;
        left: calc(100% - #{$query-view-width});
    }
}

#safeguard-list {
    overflow-y: auto;
    flex-grow: 1;
}

#safeguard-config-view {
    position: fixed;
    left:0;
    right:0;
    width: 100%;
    bottom: 0;
    background: white;
}

.display {
    font-size: 1.2rem;
}

.guide {
    font-size: 0.9rem;

    .tip {
        font-family: #aaa;
        font-family: "Roboto Condensed", "Noto Sans KR";
        font-weight: bold;
    }
}

#safeguard-view {
    .btn-secondary {
        background-color: lighten($operator-highlight-color, 15%);
        border-color: lighten($operator-highlight-color, 10%);
    }

    .btn-secondary:hover {
        background-color: lighten($operator-highlight-color, 10%);
        border-color: lighten($operator-highlight-color, 5%);
    }

    .btn-secondary.active {
        background-color: lighten($operator-highlight-color, 0%);
        border-color: $operator-highlight-color;
    }
}

.variable1 {
    color: $variable1-highlight-color;
}

.variable1.highlighted {
    background: lighten($variable1-highlight-color, 50%);
}

.variable2 {
    color: $variable2-highlight-color;
}

.variable2.highlighted {
    background: lighten($variable2-highlight-color, 40%);
}

.operator {
    color: $operator-highlight-color;
    font-weight: bold;
}

.operator.highlighted {
    background: lighten($operator-highlight-color, 40%);
}

.constant {
    color: $constant-highlight-color;
}

.constant.highlighted {
    background: lighten($constant-highlight-color, 50%);
}

#mark-complete {
    position: fixed;
    right: 0;
    bottom: 0;
}

.cursor {
    position: absolute;
    transform: scale(2);
    z-index: 10001;
}

.export-safeguards {
    float: right;
}

#minimap-wrapper {
    background: white;

    position: fixed;
    bottom: 5px;
    right: 5px;
}

::ng-deep .modal-xxl {
    .modal-lg {
        max-width: 90% !important;
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-body {
        overflow-x: auto;
        padding: 0;
    }
}

::ng-deep .sg-tip {
    .constant {
        color: $constant-highlight-color;
        font-weight: bold;
    }

    .brush {
        color: #333;
        font-weight: bold;
    }

    .variable2 {
        color: $variable2-highlight-color;
        font-weight: bold;
    }

    .create {
        color: var(--success);
        font-weight: bold;
    }
}

@media screen and (max-width: 720px) {
    #floating-svg-wrapper {
        position: fixed;
        display: block;
        background: white;
        bottom:5px;
        left: 5px;
    }
}

