@import '../theme.scss';

.variable1 {
    color: $variable1-highlight-color;
}

.variable1.highlighted {
    background: lighten($variable1-highlight-color, 50%);
}

.variable2 {
    color: $variable2-highlight-color;
}

.variable2.highlighted {
    background: lighten($variable2-highlight-color, 40%);
}
