<span *ngIf="constant.name === 'linear_regression'">
<span class="variable1">{{ groupBy.fields[1].name }}</span> = {{ constant.a | number }} *
<span class="variable1">{{ groupBy.fields[0].name }}</span>
<span *ngIf="constant.b > 0"> + </span>{{ constant.b | number }}
</span>
<span *ngIf="constant.name !== 'linear_regression'">
<span class="variable1 pr-1">
    {{ query.approximator.name.toUpperCase() }}<!--
    --><sub *ngIf="true">{{ query.groupBy.fields[0].name }}</sub><!--
    --><sub *ngIf="false">{{ variable.fieldString1() }} = {{ variable.valueString1() }},<!--
    -->{{ variable.fieldString2() }} = {{ variable.valueString2() }}</sub>(<!--
--><span *ngIf="query.approximator.requireTargetField">{{ query.target.name }}</span><!--
--><span *ngIf="!query.approximator.requireTargetField">*</span><!--
-->)</span>
<span class="operator pr-1">~</span>
<span class="constant pr-1" *ngIf="constant.name == 'power'"
    [class.highlighted]="highlighted == 3"
    (mouseenter)="highlight.emit(3)" (mouseleave)="highlight.emit(0)"
>{{ constant.a | number }}x<sup>{{ constant.b | number }}</sup> </span>
<span class="constant pr-1" *ngIf="constant.name == 'normal'"
    [class.highlighted]="highlighted == 3"
    (mouseenter)="highlight.emit(3)" (mouseleave)="highlight.emit(0)"
>N({{ constant.mean | number }}, {{ constant.stdev | number }})</span>
</span>
