@import 'theme.scss';

#wrapper {
    display: grid;
    grid-template-rows: 56px 1fr auto;
    grid-template-columns: 480px 1fr 240px;
    width: 100vw;
    height: 100vh;
}

#navbar {
    grid-row: 1;
    grid-column: 1 / 4;
    padding-left: 0;
}

#metadata-editor {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    /* position: absolute; */
    z-index: 2000;
    background: white;
}

#node-view {
    grid-row: 2 / 4;
    grid-column: 1;
    display: grid;
    border-right: 1px solid $ui-border-color;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
}

#search {
    grid-row: 1;
    grid-column: 1 / 3;
    border-top: 1px solid $ui-border-color;
    border-bottom: 1px solid $ui-border-color;
}

#search .input-group-text, #search input {
    border-radius: none;
    border: none;
}

.section-header {
    font-family: 'Roboto Condensed';
    background: $ui-background-color;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.section-subheader {
    font-family: 'Roboto Condensed';
    background: lighten($ui-background-color, 4%);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    padding: 0.2rem;
}

#completed-node-view-header {
    grid-row: 2;
    grid-column: 1;
}

#completed-node-view {
    grid-row: 3;
    grid-column: 1;
    border-right: 1px solid $ui-border-color;
    overflow-y: scroll;
}

#ongoing-node-view-header {
    grid-row: 2;
    grid-column: 2;
}

#ongoing-node-view {
    grid-row: 3;
    grid-column: 2;
    overflow-y: scroll;
}


#search .input-group-text {
    border-right: 2px solid $ui-border-color;
}

#search button {
    border-left: 1px solid $ui-border-color;
    border-radius: 0;
}

#search button:focus {
    box-shadow: none;
}

/*#graph {
    grid-row: 4;
    grid-column: 1 / 3;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 5px;
    padding-left: 20px;
}
*/
.query {
    border-bottom: 1px solid $ui-border-color;
    padding: 3px;
    background: #fefefe;
    position: relative;
    overflow:hidden;
}

.query:hover {
    cursor: pointer;
    background: lighten($ui-background-color, 2%);
}

progress-ring {
    height: 56px;
    display: block;
}

.query .field-names {
    position: absolute;
    top: 4px;
    left: 64px;
    width: 400px;
    font-size: 0.8rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.query.selected {
    background: $ui-background-color;
    border: 1px solid $ui-border-color;
    border-bottom-width: 2px;
}

.actions {
    border-bottom: 1px solid $ui-border-color;
}

.state-icon {
    font-size:0.6em;
    position: absolute;
    left:3px;
    top:3px;
}

#main {
    grid-row: 2;
    grid-column: 2;
    padding: 10px;
    overflow-y: scroll;
}

#safeguard-view {
    grid-row: 2 / 4;
    grid-column: 3;
}

#safeguard-list {
    overflow-y: scroll;
}

h4 small {
    @include serif-italic();
    font-size: 0.75rem;
}

h4 fa-icon {
    text-align:center;
    display:inline-block;
    width: 16px;
}

#safeguard-config-view {
    grid-row: 3;
    grid-column: 2;

    /*display: grid;
    grid-template-rows: auto 1fr;*/
}

#safeguard-config-view h4 {
    font-size: 1rem;
    cursor: pointer;
    padding-left: 0.3rem;
}

#safeguard-config-view h4:hover {
    background: darken($ui-background-color, 5%);
}

.tab-list {
    margin: 0;
    padding: 0;

    li {
        display:inline-block;
        width:200px;
    }
}

.display {
    @include serif-italic();
    font-size: 1.2rem;
}

.guide {
    font-size:.9rem;

    .tip {
        font-family: #aaa;
        font-family: 'Roboto Condensed';
        font-weight: bold;
    }
}

.w-25-fixed {
    display: inline-block;
    width: calc(25% + 1px);
}

.w-20-fixed {
    display: inline-block;
    width: calc(20% + 1px);
}

#safeguard-view .btn-secondary {
    background-color: lighten($operator-highlight-color, 15%);
    border-color: lighten($operator-highlight-color, 10%);
}

#safeguard-view .btn-secondary:hover {
    background-color: lighten($operator-highlight-color, 10%);
    border-color: lighten($operator-highlight-color, 5%);
}

#safeguard-view .btn-secondary.active {
    background-color: lighten($operator-highlight-color, 0%);
    border-color: $operator-highlight-color;
}

.variable1 {
    color: $variable1-highlight-color;
}

.variable1.highlighted {
    background: lighten($variable1-highlight-color, 50%);
}

.variable2 {
    color: $variable2-highlight-color;
}

.variable2.highlighted {
    background: lighten($variable2-highlight-color, 40%);
}

.operator {
    color: $operator-highlight-color;
    font-weight: bold;
}

.operator.highlighted {
    background: lighten($operator-highlight-color, 40%);
}

.constant {
    color: $constant-highlight-color;
}

.constant.highlighted {
    background: lighten($constant-highlight-color, 50%);
}

.safeguard {
    border-bottom: 1px solid $ui-border-color;
    padding: 3px;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    font-size: 0.9rem;
}

/* queue-view {
    grid-row: 3;
    grid-column: 2;
    overflow-y: scroll;
} */

.styled-scroll::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.styled-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.styled-scroll::-webkit-scrollbar-thumb {
    background-color: #999;
    outline: #333 solid 1px;
}
