<div id="wrapper" (click)="wrapperClicked()">
    <section class="navbar navbar-dark bg-dark box-shadow d-flex justify-content-start" id="navbar">
        <button (click)="toggleMetadataEditor()" class="btn btn-dark" id="open-metadata-editor">
            <fa-icon icon="folder-open"></fa-icon>
        </button>
        <a href="#" class="navbar-brand">TouchExplorer
            <small> (movies.json)</small>
        </a>
    </section>
    <section id="node-view">
        <section id="search">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]="['fas', 'search']"></fa-icon></span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            </div>
        </section>
        <h6 id="completed-node-view-header">Completed Queries</h6>
        <section id="completed-node-view" class="styled-scroll">
            <div *ngFor="let node of completedNodes">
                <div class="query" (click)="nodeSelected(node)" [class.selected]="activeNode === node">
                    <progress-ring [processed]="node.query.progress.processedPercent()" [ongoing]="node.query.progress.ongoingPercent()"></progress-ring>
                    <ul class="field-names">
                        <li *ngFor="let field of node.fields">
                            <field-badge [field]="field"></field-badge>
                            {{ field.name }}
                        </li>
                    </ul>
                </div>
                <div class="actions" *ngIf="activeNode === node">
                    <button class="btn btn-light">
                        <fa-icon [icon]="['fas', 'n']"></fa-icon>
                    </button>
                    <button class="btn btn-light">
                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                    </button>
                    <button class="btn btn-light" (click)="plusClicked($event, node)">
                        <fa-icon style="pointer-events: none" [icon]="['fas', 'plus']"></fa-icon>
                    </button>
                </div>
            </div>
        </section>
        <h6 id="ongoing-node-view-header">Ongoing Queries</h6>
        <section id="ongoing-node-view" class="styled-scroll"
            [sortablejs]="ongoingNodes"
            [sortablejsOptions]="sortablejsOptions"
        >
            <div *ngFor="let node of ongoingNodes">
                <div class="query" (click)="nodeSelected(node)" [class.selected]="activeNode === node">
                    <progress-ring [processed]="node.query.progress.processedPercent()" [ongoing]="node.query.progress.ongoingPercent()"></progress-ring>
                    <ul class="field-names">
                        <li *ngFor="let field of node.fields">
                            <field-badge [field]="field"></field-badge>
                            {{ field.name }}
                        </li>
                    </ul>
                </div>
                <div class="actions" *ngIf="activeNode === node">
                    <button class="btn btn-light">
                        <fa-icon [icon]="['fas', 'play']"></fa-icon>
                    </button>
                    <button class="btn btn-light">
                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                    </button>
                    <button class="btn btn-light" (click)="plusClicked($event, node)">
                        <fa-icon style="pointer-events: none" [icon]="['fas', 'plus']"></fa-icon>
                    </button>
                </div>
            </div>
        </section>
    </section>
    <!-- <section id="exploration-view-wrapper">
        <exploration-view #explorationView [root]="explorationRoot" [dataset]="dataset"
            (nodeSelected)="nodeSelected($event.node, $event.nodeView, $event.left, $event.top, $event.child)"
            (nodeUnselected)="nodeUnselected($event.node, $event.nodeView, $event.child)">
        </exploration-view>
        <button (click)="toggleEditable()" class="btn btn-primary" id="toggle-editable">
            <fa-icon icon="edit"></fa-icon>
        </button>
    </section> -->
    <section id="main" class="styled-scroll">
        <button class="btn btn-primary" (click)="run(1)">Run a job</button>
        &nbsp;
        <button class="btn btn-primary" (click)="run(10)">Run 10 jobs</button>
        &nbsp;
        <button class="btn btn-primary" (click)="run(100)">Run 100 jobs</button>
        <div *ngIf="!activeNode">
            <p>
                Choose a node to inspect.
            </p>
        </div>
        <div *ngIf="activeNode">
            <h2>Query {{ activeNode.query.id }}</h2>
            <vis [node]="activeNode"></vis>
            <p>
                Description: {{ activeNode.query.desc() }}
                <br /> Progress: {{ activeNode.query.progress.processed }} / {{ activeNode.query.progress.total }}
            </p>
        </div>
    </section>

    <metadata-editor [dataset]="dataset" #metadataEditor id="metadata-editor" [hidden]="!metadataEditor.visible">
    </metadata-editor>

    <!-- <section style="padding:5px; grid-row:2; grid-column:2;">

    </section>
    <queue-view [queue]="engine.queue" *ngIf="engine"></queue-view> -->
</div>

<field-selector #fieldSelector (fieldSelected)="fieldSelected($event.node, $event.field)"></field-selector>
