<div id="wrapper" (click)="wrapperClicked()">
    <section class="navbar navbar-dark bg-dark box-shadow d-flex justify-content-start" id="navbar">
        <button (click)="toggleMetadataEditor()" class="btn btn-dark" id="open-metadata-editor">
            <fa-icon icon="folder-open"></fa-icon>
        </button>
        <a href="#" class="navbar-brand">TouchExplorer
            <small> (movies.json)</small>
        </a>
    </section>
    <section id="query-view">
        <div *ngFor="let query of engine.queries" class="query">
            <strong>Q{{ query.id }}</strong>:
            {{ query.desc() }}
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                    [style.width.%]="query.progress.processedPercent() * 100"
                    [attr.aria-valuenow]="query.progress.processedPercent() * 100"
                    aria-valuemin="0" aria-valuemax="100">
                </div>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    [style.width.%]="query.progress.ongoingPercent() * 100"
                    [attr.aria-valuenow]="query.progress.ongoingPercent() * 100"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </section>
    <section id="exploration-view-wrapper">
        <exploration-view #explorationView [root]="explorationRoot" [dataset]="dataset" (nodeSelected)="nodeSelected($event.node, $event.nodeView, $event.left, $event.top, $event.child)"
            (nodeUnselected)="nodeUnselected($event.node, $event.nodeView, $event.child)">
        </exploration-view>
        <button (click)="toggleEditable()" class="btn btn-primary" id="toggle-editable">
            <fa-icon icon="edit"></fa-icon>
        </button>
    </section>
    <section id="main">
        <div *ngIf="!activeNode">
            <p>
                Choose a node to inspect.
            </p>
        </div>
        <div *ngIf="activeNode">
            <h2>Query {{ activeNode.query.id }}</h2>
            <vis [node]="activeNode"></vis>
            <p>
                Description: {{ activeNode.query.desc() }}
                <br /> Progress: {{ activeNode.query.progress.processed }} / {{ activeNode.query.progress.total }}
            </p>
        </div>
    </section>

    <metadata-editor [dataset]="dataset" #metadataEditor id="metadata-editor" [hidden]="!metadataEditor.visible">
    </metadata-editor>

    <!-- <section style="padding:5px; grid-row:2; grid-column:2;">
        <button class="btn btn-primary" (click)="run()">Run a job</button>
    </section>
    <queue-view [queue]="engine.queue" *ngIf="engine"></queue-view> -->
</div>

<field-selector #fieldSelector (fieldSelected)="fieldSelected($event.node, $event.field)"></field-selector>
