<div id="wrapper" (window:beforeunload)="unload()" *ngIf="engine">
    <section class="navbar navbar-dark bg-dark box-shadow" id="navbar">
        <a href="#" class="navbar-brand ml-2">
            <img src="assets/eye-white.png" width="24" height="24" class="d-inline-block align-text-bottom" alt="">
            ProReveal
        </a>

        <div class="mr-auto">
            <button (click)="toggleMetadataEditor()" class="btn btn-sm btn-dark" id="open-metadata-editor">
                <fa-icon icon="folder-open"></fa-icon>
                <span *ngIf="engine.dataset"> ({{ engine.dataset.name }})</span>
            </button>
            <ng-container *ngIf="engineType == 'browser' && !isStudying && debug">
                <span class="text-light navbar-text">
                    Debug Menu
                </span>
                &nbsp;
                <button class="btn btn-sm btn-primary" (click)="engine.run()" [hidden]="engine.autoRun">
                    <fa-icon [icon]="['fas', 'play']"></fa-icon>
                    Auto Run
                </button>
                <button class="btn btn-sm btn-danger" (click)="engine.pause()" [hidden]="!engine.autoRun">
                    <fa-icon [icon]="['fas', 'pause']"></fa-icon>
                    Pause
                </button>
                &nbsp;
                <button class="btn btn-sm btn-secondary" (click)="runMany(1)">Run a job</button>
                &nbsp;
                <button class="btn btn-sm btn-secondary" (click)="runMany(10)">Run 10 jobs</button>
                &nbsp;
                <button class="btn btn-sm btn-secondary" (click)="runMany(100)">Run 100 jobs</button>&nbsp;
                <button class="btn btn-sm btn-secondary" (click)="testC()">C</button>&nbsp;
                <button class="btn btn-sm btn-secondary" (click)="testN()">N</button>&nbsp;
                <button class="btn btn-sm btn-secondary" (click)="testCN()">CN</button>&nbsp;
                <button class="btn btn-sm btn-secondary" (click)="testNN()">NN</button>&nbsp;
                <button class="btn btn-sm btn-secondary" (click)="testCC()">CC</button>&nbsp;
                <button class="btn btn-sm btn-secondary" (click)="go()">Socket</button>&nbsp;
            </ng-container>
            <ng-container *ngIf="engineType == 'spark' && debug">
                <span class="text-light navbar-text">
                    Debug Menu
                </span>
                &nbsp;
                <button class="btn btn-sm btn-primary" (click)="emit('query')">Request</button>&nbsp;
                <button class="btn btn-sm btn-danger" (click)="emit('kill')">Kill</button>&nbsp;
            </ng-container>
        </div>

        <div *ngIf="engineType == 'remote'">
            <ng-container *ngIf="socket.serverInfo">
                <span class="text-light small">
                    Connected to <strong>{{ socket.url }}</strong> (ProReveal Engine {{ socket.serverInfo.version }}) <ng-container *ngIf="socket.serverInfo.backend == 'spark'">
                    (Spark Backend {{ socket.serverInfo.version }},
                    Apache Spark {{ socket.serverInfo.sparkVersion }}, Master: {{ socket.serverInfo.master }},
                    <a href="{{ socket.serverInfo.uiWebUrl }}" target="_blank" class="text-light">Web UI</a>)</ng-container>
                </span>
            </ng-container>
            <ng-container *ngIf="!socket.serverInfo">
                <span class="text-light small">
                    <fa-icon [icon]="['fas', 'exclamation-circle']"></fa-icon>
                    Disconnected.
                    Trying to connect to {{ socket.url }}
                </span>
            </ng-container>
        </div>

        <div *ngIf="isStudying">
            <button type="button" class="btn btn-sm btn-dark" (click)="isStudyMenuVisible=!isStudyMenuVisible">
                <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
            </button>
            <div class="dropdown-menu dropdown-menu-right" [class.show]="isStudyMenuVisible">
                <button class="dropdown-item" type="button" (click)="downloadCurrentUserLog()">Download the current user's log</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="button" (click)="printCurrentSessionLog()">Print the current session's log</button>
                <button class="dropdown-item" type="button" (click)="printCurrentUserLog()">Print the current user's log</button>
                <button class="dropdown-item" type="button" (click)="printAllLogs()">Print all user logs</button>
                <div class="dropdown-divider"></div><div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div><div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div><div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div><div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div><div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div><div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div><div class="dropdown-divider"></div>
                <div class="dropdown-item">{{ logger.size | bytes }}</div>
                <button class="dropdown-item text-danger" type="button" (click)="removeAllLogs()">Remove All Logs</button>
            </div>
        </div>
    </section>
    <section id="query-view" class="border-right">
        <section id="new-query" class="border-bottom">
            <button class="btn btn-secondary w-100 rounded-0" (click)="toggleQueryCreator()">
                <fa-icon [icon]="['fas', 'caret-down']" [hidden]="!creating"></fa-icon>
                <fa-icon [icon]="['fas', 'caret-right']" [hidden]="creating"></fa-icon>
                {{ L.NewVisualization }}
            </button>

            <query-creator
                #queryCreator
                id="query-creator" [hidden]="!creating"
                [dataset]="engine.dataset"
                (created)="create($event.query, Priority.Highest)"
                (creationCancelled)="creating=false"
                ></query-creator>
        </section>
        <h3 id="completed-query-view-header" class="section-header p-1 border-bottom border-right">
            {{ L.CompletedVisualization }}
        </h3>
        <section id="completed-query-view" class="styled-scroll bg-light">
            <ng-container *ngFor="let query of engine.completedQueries">
                <div class="query" (click)="querySelected(query)"
                    [class.selected]="activeQuery === query"
                    [class.highlighted]="highlightedQuery === query">
                    <div class="field-names m-0 p-0">
                        <div *ngFor="let field of query.fields">
                            <field-badge [field]="field"></field-badge>
                            {{ field.name }}
                        </div>
                        <ng-container *ngIf="query.where">
                            <div class="filtered-by">FILTERED BY</div>
                            <div *ngFor="let pred of query.where.predicates">
                                <field-badge [field]="pred.target" class="mr-1"></field-badge>
                                <predicate-indicator [predicate]="pred"></predicate-indicator>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="actions" *ngIf="activeQuery === query">
                    <button class="btn btn-light" (click)="queryRemoveClicked(query, confirmRemoval, rejectRemoval, $event)">
                        <fa-icon [icon]="['fas', 'times']"></fa-icon>
                    </button>
                </div>
            </ng-container>
        </section>
        <h6 id="ongoing-query-view-header" class="border-left section-header p-1 border-bottom">
            {{ L.OngoingVisualization }}

            <div class="form-check round-robin mr-2">
                <input class="form-check-input" type="checkbox" id="alternate"
                    [(ngModel)]="engine.alternate" (change)="alternateChange()">
                <label class="form-check-label cursor-pointer" for="alternate">
                    {{ L.Alternate }}
                </label>
            </div>
        </h6>

        <section id="ongoing-query-view" class="styled-scroll">
            <div class="btn-group w-100 rounded-0 border-bottom" role="group" id="all">
                <button type="button" class="btn btn-sm btn-light w-50" (click)="resumeAll()">
                    <fa-icon [icon]="['fas', 'play']"></fa-icon>
                    {{ L.ResumeAll }}
                </button>
                <button type="button" class="btn btn-sm btn-light w-50 border-left" (click)="pauseAll()">
                    <fa-icon [icon]="['fas', 'pause']"></fa-icon>
                    {{ L.PauseAll }}
                </button>
            </div>
            <div id="queries" class="styled-scroll bg-light" [sortablejs]="engine.ongoingQueries"
                [sortablejsOptions]="sortablejsOptions">
                <div *ngFor="let query of engine.ongoingQueries">
                    <div class="query d-flex flex-row" (click)="querySelected(query)"
                        [class.selected]="activeQuery === query"
                        [class.highlighted]="highlightedQuery === query">
                        <progress-ring
                            [processed]="query.recentProgress.processedPercent()"
                            [ongoing]="query.recentProgress.ongoingPercent()"
                            [style.opacity]="query.state === QS.Paused ? 0.2 : 1"></progress-ring>
                        <div class="field-names m-0 p-0 ml-2">
                            <div *ngFor="let field of query.fields">
                                <field-badge [field]="field"></field-badge>
                                {{ field.name }}
                            </div>
                            <ng-container *ngIf="query.where">
                                <div class="filtered-by">FILTERED BY</div>
                                <div *ngFor="let pred of query.where.predicates">
                                    <field-badge [field]="pred.target" class="mr-1"></field-badge>
                                    <predicate-indicator [predicate]="pred"></predicate-indicator>
                                </div>
                            </ng-container>
                        </div>
                        <fa-icon class="state-icon" [icon]="['fas', 'play']" [hidden]="engine.runningQuery != query || query.state === QS.Paused"></fa-icon>
                        <fa-icon class="state-icon" [icon]="['fas', 'pause']" [hidden]="query.state === QS.Running"></fa-icon>

                        <div class="actions">
                            <button class="px-2 py-1" [hidden]="query.state === QS.Paused" (click)="queryPauseClick(query, $event)">
                                <fa-icon [icon]="['fas', 'pause']"></fa-icon>
                            </button>
                            <button class="px-2 py-1" [hidden]="query.state === QS.Running" (click)="queryRunClick(query, $event)">
                                <fa-icon [icon]="['fas', 'play']"></fa-icon>
                            </button>
                            <button class="px-2 py-1" (click)="queryRemoveClicked(query, confirmRemoval, rejectRemoval, $event)">
                                <fa-icon [icon]="['fas', 'times']"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section id="main" class="styled-scroll p-2 px-3 bg-light" (click)="visBackgroundClick()">
        <div *ngIf="!activeQuery" class="alert alert-primary">
            <span *ngIf="engine.ongoingQueries.length == 0 && engine.completedQueries.length == 0"
                [innerHTML]="L.CreateANewVisualization">
            </span>
            <ng-container *ngIf="engine.ongoingQueries.length || engine.completedQueries.length">
                {{ L.ChooseVisualizationToInspect }}
            </ng-container>
        </div>

        <vis #vis
        [hidden]="!activeQuery"
        [query]="activeQuery"
        [floatingLegend]="legend"
        (variableSelected)="variableSelected($event)"
        (constantSelected)="constantSelected($event)"
        (queryCreated)="queryRequestedFromVis($event)"
        (numBinsChanged)="numBinsChanged()"
        (sgPanelRequested)="sgPanelRequested($event)"
        (dataViewerRequested)="dataViewerRequested($event)"
        ></vis>

        <div id="legend-wrapper" class="border" #legend
            [hidden]="!activeQuery || (activeQuery && activeQuery.recentProgress.processedBlocks == 0)"
            style="display:none"
        >
            <svg class="mr-2 mt-2 legend"></svg>
            <svg class="mr-2 mt-2 brush"></svg>
        </div>

    </section>

    <section id="safeguard-view">
        <h3 class="section-header p-1 border-right-0 border-top border-bottom">
            {{ L.Safeguards }}

            <a href="#" class="export-safeguards mr-1 text-dark"
                (click)="exportSafeguards()">
                <small>
                    <fa-icon [icon]="['fas', 'download']"></fa-icon> Export
                </small>
            </a>
        </h3>
        <section id="safeguard-list" class="styled-scroll bg-light">
            <p *ngIf="engine.safeguards.length === 0" class="m-0 guide p-2 alert alert-primary rounded-0" style="word-break:keep-all;">
                {{ L.SafeguardGuide }}
            </p>

            <sg-list-item *ngFor="let sg of engine.safeguards"
                [safeguard]="sg"
                (removeClicked)="sgRemoveClicked($event)"
                (mouseenter)="sgMouseEnter(sg)"
                (mouseleave)="sgMouseLeave(sg)"
                (click)="sgClick(sg)"
                ></sg-list-item>
        </section>
    </section>

    <section id="safeguard-config-view" class="border-top border-right px-2 pb-1"
        [hidden]="activeSafeguardPanel == SGT.None" *ngIf="activeQuery">

        <!-- Value -->
        <div *ngIf="activeSafeguardPanel === SGT.Value">
            <div class="display text-center p-2">
                <sg-point [highlighted]="false" [query]="activeQuery" [variable]="variable1 || combinedVariable1"
                    [isRank]="false" [operator]="operator" [constant]="valueConstant"
                    (constantUserChanged)="constantUserChanged($event)" [editable]="true"></sg-point>
            </div>
            <div class="alert guide p-2 m-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.ValueTip"></span>
            </div>
            <div class="guide p-1" *ngIf="activeQuery.visibleProgress.processedRows > 0
                && (variable1 || combinedVariable1)
                && valueConstant && activeQuery.approximator.estimatable">
                <p-indicator [p]="ValueEstimate(activeQuery, variable1 || combinedVariable1, operator, valueConstant)"></p-indicator>
            </div>
            <div class="guide p-1" *ngIf="activeQuery.visibleProgress.processedRows > 0
                    && (variable1 || combinedVariable1)
                    && valueConstant && !activeQuery.approximator.estimatable">
                <boolean-indicator [t]="MinMaxValueEstimate(activeQuery, variable1 || combinedVariable1, operator, valueConstant)"></boolean-indicator>
            </div>
            <div class="p-1 text-right">
                <button class="btn btn-success border-right-0 mr-1" (click)="createValueSafeguard()">
                    {{ L.CreateSG }}
                </button>
                <button class="btn btn-danger border-right-0" (click)="cancelSafeguard()">
                    {{ L.Cancel }}
                </button>
            </div>
        </div>

        <div *ngIf="activeSafeguardPanel === SGT.Rank">
            <div class="display text-center p-2">
                <sg-point [highlighted]="false" [query]="activeQuery" [variable]="variable1 || combinedVariable1"
                    [isRank]="true" [operator]="operator" [constant]="rankConstant"
                    (constantUserChanged)="constantUserChanged($event)" [editable]="true"></sg-point>
            </div>
            <div class="alert guide p-2 m-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.RankTip"></span>
            </div>
            <div class="guide p-1" *ngIf="activeQuery.visibleProgress.processedRows > 0
                && variable1 && rankConstant && activeQuery.approximator.estimatable">
                <p-indicator [p]="RankEstimate(activeQuery, variable1, operator, rankConstant)"></p-indicator>
            </div>
            <div class="guide p-1" *ngIf="activeQuery && activeQuery.visibleProgress.processedRows > 0
                && variable1 && rankConstant && !activeQuery.approximator.estimatable">
                <boolean-indicator [t]="MinMaxRankEstimate(activeQuery, variable1, operator, rankConstant)"></boolean-indicator>
            </div>
            <div class="p-1 text-right">
                <button class="btn btn-success border-right-0 mr-1" (click)="createRankSafeguard()">
                    {{ L.CreateSG }}
                </button>
                <button class="btn btn-danger border-right-0" (click)="cancelSafeguard()">
                    {{ L.Cancel }}
                </button>
            </div>
        </div>

        <!-- Range -->
        <div *ngIf="activeSafeguardPanel === SGT.Range">
            <div class="display text-center p-2">
                <sg-range [highlighted]="false" [query]="activeQuery" [variable]="variable1 || combinedVariable1"
                    [constant]="rangeConstant"
                    (constantUserChanged)="constantUserChanged($event)" [editable]="true"></sg-range>
            </div>
            <div class="alert guide p-2 m-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.RangeTip"></span>
            </div>
            <div class="guide p-1" *ngIf="activeQuery.visibleProgress.processedRows > 0 && (variable1 || combinedVariable1)
                && rangeConstant && activeQuery.approximator.estimatable">
                <p-indicator [p]="RangeEstimate(activeQuery, variable1 || combinedVariable1, Operators.InRange, rangeConstant)"></p-indicator>
            </div>
            <div class="guide p-1" *ngIf="activeQuery.visibleProgress.processedRows > 0 && (variable1 || combinedVariable1)
                && rangeConstant && !activeQuery.approximator.estimatable">
                <boolean-indicator [t]="MinMaxRangeEstimate(activeQuery, variable1, Operators.InRange, rangeConstant)"></boolean-indicator>
            </div>
            <div class="p-1 text-right">
                <button class="btn btn-success border-right-0 mr-1" (click)="createRangeSafeguard()">
                    {{ L.CreateSG }}
                </button>
                <button class="btn btn-danger border-right-0" (click)="cancelSafeguard()">
                    {{ L.Cancel }}
                </button>
            </div>
        </div>

        <!-- Comparative -->
        <div *ngIf="activeSafeguardPanel === SGT.Comparative">
            <div class="display text-center p-2">
                <sg-comparative [highlighted]="false" [query]="activeQuery" [variable1]="variable1 || combinedVariable1"
                    [variable2]="variable2 || combinedVariable2" [operator]="operator"></sg-comparative>
            </div>
            <div class="alert guide p-2 m-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.ComparativeTip"></span>
            </div>
            <div class="guide p-1" *ngIf="activeQuery.visibleProgress.processedRows > 0 && (variablePair || combinedVariablePair)
                    && activeQuery.approximator.estimatable">
                <p-indicator [p]="ComparativeEstimate(activeQuery, variablePair || combinedVariablePair, operator)"></p-indicator>
            </div>
            <div class="guide p-1" *ngIf="activeQuery.visibleProgress.processedRows > 0 && (variablePair || combinedVariablePair)
                    && !activeQuery.approximator.estimatable">
                <boolean-indicator [t]="MinMaxComparativeEstimate(activeQuery, variablePair, operator)"></boolean-indicator>
            </div>

            <div class="p-1 text-right">
                <button class="btn btn-success border-right-0 mr-1"
                    [disabled]="!variablePair && !combinedVariablePair"
                (click)="createComparativeSafeguard()">
                    {{ L.CreateSG }}
                </button>
                <button class="btn btn-danger border-right-0" (click)="cancelSafeguard()">
                    {{ L.Cancel }}
                </button>
            </div>
        </div>

        <!-- PowerLaw -->
        <div *ngIf="activeSafeguardPanel == SGT.PowerLaw">
            <div class="display text-center p-2">
                <sg-distributive [highlighted]="false" [query]="activeQuery"
                    [constant]="powerLawConstant" [groupBy]="activeQuery.groupBy"></sg-distributive>
            </div>
            <div class="alert guide p-2 m-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.PowerLawTip"></span>
            </div>
            <div class="p-1 guide" *ngIf="activeQuery.visibleProgress.processedRows > 0">
                <quality-indicator [q]="PowerLawEstimate(activeQuery, powerLawConstant)"></quality-indicator>
            </div>
            <div class="p-1 text-right">
                <button class="btn btn-success border-right-0 mr-1" (click)="createDistributiveSafeguard()">
                    {{ L.CreateSG }}
                </button>
                <button class="btn btn-danger border-right-0" (click)="cancelSafeguard()">
                    {{ L.Cancel }}
                </button>
            </div>
        </div>

        <!-- Normal -->
        <div *ngIf="activeSafeguardPanel == SGT.Normal">
            <div class="display text-center p-2">
                <sg-distributive [highlighted]="false" [query]="activeQuery" [constant]="normalConstant"
                    [groupBy]="activeQuery.groupBy"></sg-distributive>
            </div>
            <div class="alert guide p-2 m-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.NormalTip"></span>
            </div>
            <div class="p-1 guide" *ngIf="activeQuery.visibleProgress.processedRows > 0">
                <quality-indicator [q]="NormalEstimate(activeQuery, normalConstant)"></quality-indicator>
            </div>
            <div class="p-1 text-right">
                <button class="btn btn-success border-right-0 mr-1" (click)="createDistributiveSafeguard()">
                    {{ L.CreateSG }}
                </button>
                <button class="btn btn-danger border-right-0" (click)="cancelSafeguard()">
                    {{ L.Cancel }}
                </button>
            </div>
        </div>

        <!-- Linear -->
        <div *ngIf="activeSafeguardPanel == SGT.Linear">
            <div class="display text-center p-2">
                <sg-distributive [highlighted]="false" [query]="activeQuery" [constant]="linearRegressionConstant"
                    [groupBy]="activeQuery.groupBy"></sg-distributive>
            </div>
            <div class="alert guide p-2 m-1">
                <span class="tip">{{ L.Tip }}</span>
                <span class="ml-2 sg-tip" [innerHTML]="L.LinearTip"></span>
            </div>
            <div class="p-1 guide" *ngIf="activeQuery.visibleProgress.processedRows > 0">
                <error-indicator [e]="LinearRegressionEstimate(activeQuery, linearRegressionConstant)"></error-indicator>
            </div>
            <div class="p-1 text-right">
                <button class="btn btn-success border-right-0 mr-1" (click)="createDistributiveSafeguard()">
                    {{ L.CreateSG }}
                </button>
                <button class="btn btn-danger border-right-0" (click)="cancelSafeguard()">
                    {{ L.Cancel }}
                </button>
            </div>
        </div>
    </section>
    <metadata-editor [dataset]="engine.dataset" #metadataEditor id="metadata-editor" [hidden]="!metadataEditor.visible">
    </metadata-editor>
</div>

<ng-template #confirmRemoval let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{ L.RemovingVis }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            {{ L.RemovingVisAlert }}
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c()">{{ L.Remove }}</button>
        <button type="button" class="btn btn-outline-secondary" (click)="d()">{{ L.Cancel }}</button>
    </div>
</ng-template>

<ng-template #rejectRemoval let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Error</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            {{ L.CannotRemoveSafeguardedVis }}
        </p>
    </div>
</ng-template>

<ng-template #dataViewerModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> {{ L.DataViewer }}
            <small>
                (<ng-container *ngFor="let pred of dataViewerWhere.predicates index as i">
                    <field-badge [field]="pred.target" class="mr-1"></field-badge>
                    <predicate-indicator [predicate]="pred"></predicate-indicator><span *ngIf="i < dataViewerWhere.length - 1" class="mr-1">, </span>
                </ng-container>,
                found {{ filteredRows.length | number}} row{{ filteredRows.length == 1 ? '' : 's'}})
            </small>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body styled-scroll">
        <data-viewer
            [dataset]="engine.dataset"
            [rows]="filteredRows"
            ></data-viewer>
    </div>
</ng-template>
