<variable-indicator [variable]="variable" [className]="'variable1'"
    [isRank]="isRank" [highlighted]="highlighted == 1"
    [query]="query" (mouseenter)="highlight.emit(1)"
    (mouseleave)="highlight.emit(0)"
></variable-indicator>
<span class="operator pr-1"
    (mouseenter)="highlight.emit(2)" (mouseleave)="highlight.emit(0)"
>∈</span>
<span class="constant pr-1" [class.highlighted]="highlighted == 3"
    (mouseenter)="highlight.emit(3)" (mouseleave)="highlight.emit(0)" *ngIf="!isRank">
[<span *ngIf="!editing1" (click)="editing2=false; editing1=editable"><!--
-->{{ constant.from | smartNumber }}<!--
--></span><!--
--><form class="inplace-editor" *ngIf="editing1">
    <div class="input-group inline ml-1">
        <input type="text" class="form-control form-control-sm"
        [ngModel]="constant.from | number: numberFormat"
        [size]="(constant.from.toString() | number: numberFormat).length" name="rangeFrom"
        autofocus #rangeFrom>
        <div class="input-group-append">
            <button type="submit" class="btn btn-success form-control-sm"
            (click)="editing1=false;
            constant.to=constant.to+constant.from-toNumber(rangeFrom.value);
            constant.from=toNumber(rangeFrom.value);
            constantUserChanged.emit(constant);
            $event.preventDefault() ">Save</button>
            <button class="btn btn-danger form-control-sm" (click)="editing1=false">Cancel</button>
        </div>
    </div>
</form><!--
-->,
<span *ngIf="!editing2" (click)="editing1=false; editing2=editable"><!--
-->{{ constant.to | smartNumber }}</span><!--
--><form class="inplace-editor" *ngIf="editing2">
    <div class="input-group inline ml-1">
        <input type="text" class="form-control form-control-sm"
        [ngModel]="constant.to | number: numberFormat"
        [size]="(constant.to.toString() | number: numberFormat).length" name="rangeTo"
        autofocus #rangeTo>
        <div class="input-group-append">
            <button type="submit" class="btn btn-success form-control-sm"
            (click)="editing2=false;
            constant.from=constant.from+constant.to-toNumber(rangeTo.value);
            constant.to=toNumber(rangeTo.value);
            constantUserChanged.emit(constant);
            $event.preventDefault() ">Save</button>
            <button class="btn btn-danger form-control-sm" (click)="editing2=false">Cancel</button>
        </div>
    </div>
</form><!--
-->]
</span>
<!--<span class="constant pr-1" [class.highlighted]="highlighted == 3"
    (mouseenter)="highlight.emit(3)" (mouseleave)="highlight.emit(0)" *ngIf="isRank"
>
    [{{ constant.from | number: CT.rankFormat }}, {{ constant.to | number: CT.rankFormat}}]
</span>-->
