<ng-container *ngIf="query"><!--
--><ng-container *ngIf="query.target === null"><span class="approx-name">{{ L.COUNT }}</span>(<small>*</small>)</ng-container><!--
--><ng-container *ngIf="query.target !== null"><span class="approx-name">{{ L[query.approximator.name.toUpperCase()] }}</span>(<field-badge [field]="query.target" class="mr-1"></field-badge>{{ query.target.name }})</ng-container><!--
--><span class="ml-2 by"></span>
    <ng-container *ngFor="let field of query.groupBy.fields; index as i">
        <field-badge [field]="field" class="ml-2 mr-1"></field-badge>{{ field.name }}<span *ngIf="i < query.groupBy.fields.length - 1" class="comma"></span>
    </ng-container>
    <ng-container *ngIf="query.where && query.where.length > 0">
        <span class="where ml-2"></span>
        <ng-container *ngFor="let pred of query.where.predicates index as i">
            <field-badge [field]="pred.target" class="ml-2 mr-1"></field-badge>
            <predicate-indicator [predicate]="pred"></predicate-indicator><span *ngIf="i < query.where.length - 1" class="and ml-1"></span>
        </ng-container>
    </ng-container>
</ng-container>
