
field-badge {
    font-size: .8em;
}

.approx-form {
    display: inline;
}

.approx-name {
    font-family: 'Roboto Condensed';
}

.keyword {
    font-family: 'Roboto Condensed';
    opacity: .5;
}

.query-desc field-badge {
    position: relative;
    top: -.15rem;
}

select {
    font-family: 'Roboto Condensed';
    border: none;
    font-size: 1em;
    padding: 0;
    background: none;
}

select:active {
    background: none;
}
