
@import '../theme.scss';

field-badge {
    font-size: .8em;
}

.approx-form {
    display: inline;
}

.approx-name {
    font-family: 'Roboto Condensed';
}

field-badge {
    position: relative;
    top: -.1em;
}

select {
    font-family: 'Roboto Condensed';
    border: none;
    font-size: 1em;
    padding: 0;
    background: none;
}

select:active {
    background: none;
}
