.wrapper {
    position: relative;
}

.point-listener {
    background:black;
}

$columnSelectorSize: 60px;

.types {
    width: $columnSelectorSize;
    height: $columnSelectorSize;
    border-radius: $columnSelectorSize;
    position: absolute;

    // background:#eee;
    color:#888;
    text-align:center;
    line-height: $columnSelectorSize;
    font-size:.7em;

    text-align:center;
}

.type1 {
    top: -$columnSelectorSize;
}

.type2 {
    top:0px;
}

.types strong {
    font-size:1.2em;
}

.types svg {
    position:absolute;
}

.types path {
    fill: #eee;
}

.types path:hover {
    fill: #ccc;
    cursor: pointer;
}

.types span {
    position:absolute;
    width: $columnSelectorSize * 2;
    pointer-events: none;
}

.type1 span {
    top:-10px;
}

.type2 span {
    top:10px;
}
