<variable-indicator [variable]="variable1" [className]="'variable1'"
    [isRank]="false" [highlighted]="highlighted == 1"
    [query]="query"
    (mouseenter)="highlight.emit(1)" (mouseleave)="highlight.emit(0)"
></variable-indicator><!-- [class.highlighted]="highlighted == 2"-->
<span class="operator pr-1"
    (mouseenter)="highlight.emit(2)" (mouseleave)="highlight.emit(0)"
>{{ operator }}</span>
<variable-indicator [variable]="variable2" [className]="'variable2'"
    [isRank]="false" [highlighted]="highlighted == 4"
    [query]="query"
    (mouseenter)="highlight.emit(4)" (mouseleave)="highlight.emit(0)"
></variable-indicator>
