<variable-indicator [variable]="variable" [className]="'variable1'"
    [useRank]="useRank" [highlighted]="highlighted == 1"
    [query]="query" (mouseenter)="highlight.emit(1)"
    (mouseleave)="highlight.emit(0)"
></variable-indicator><!--[class.highlighted]="highlighted == 2"-->
<span class="operator pr-1"
    (mouseenter)="highlight.emit(2)" (mouseleave)="highlight.emit(0)"
>{{ operator }}</span>
<span class="constant pr-1" [class.highlighted]="highlighted == 3"
    (mouseenter)="highlight.emit(3)" (mouseleave)="highlight.emit(0)"
    *ngIf="!useRank"
>{{ constant.value | number:CT.numberFormat }}</span>
<span class="constant pr-1" [class.highlighted]="highlighted == 3"
    (mouseenter)="highlight.emit(3)" (mouseleave)="highlight.emit(0)"
    *ngIf="useRank"
>{{ constant.rank | number:CT.rankFormat }}</span>
