/* You can add global styles to this file, and also import other style files */

body, app-root {
    min-height:100%;
    height:100%;
    font-family: 'Roboto', 'Noto Sans KR';
    overflow-y: hidden;

    background: #f8f9fa !important;
}

body::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: #333 solid 1px;
}
